[2017-05-07 21:25] dawehner opened #5 "Add a humans.txt"
See http://humanstxt.org/

[2017-05-08 04:09] e0ipso commented on #5
👍

In addition to that we should populate https://github.com/drupal-http-apis/contenta_jsonapi/blob/master/composer.json#L5-L6 as well.

[2017-05-15 17:48] dawehner opened #7 "Create a logo / brand"

[2017-05-15 17:58] dawehner opened #8 "General documentation"
Here is a question: Where should the documentation live?

* A readme inside the contenta_jsonapi profile?
* As a separate github book, which might be able to ship with some recommendations about best practises/general design decisions?
* Maybe somewhere else?

[2017-05-15 17:58] dawehner opened #9 "Theme the installer?"
Should we theme the installer maybe?

[2017-05-15 19:01] e0ipso commented on #9
That was something I brought up with @ckrina earlier today. I'd like her to asses how important it would be.

I like the idea, it conveys the deep care we have for the project.

[2017-05-16 16:14] dawehner opened #11 "[IDEA] Integration recipe magazin with a chatbot"
A chatbot could have one of the following opportunities:

* Create recipes via asking
* Create recipes via tracking while you actually cook something
* Provide you recipes given some recipes you liked before
* I have the following ingredients, what can I cook today

[2017-05-18 08:45] ckrina commented on #9
Assuming installer will be one of the first project pages people will be in contact with, I would vote for theming it, yes.

[2017-05-22 08:10] dawehner opened #13 "Provide a better PR template"
I've used the following template in many projects:

[code]

[2017-05-22 10:27] e0ipso commented on #13
I'm goo with that.

[2017-05-23 21:40] e0ipso opened #14 "Improve configuration export workflow"
See Slack discussion: https://drupal.slack.com/archives/C5A70F7D1/p1495575161979991

![slack - drupal 2017-05-23 23-40-05](https://cloud.githubusercontent.com/assets/1140906/26377587/2e459706-4011-11e7-9346-2cb348632cb5.png)

[2017-05-23 22:03] dawehner commented on #14
I hope I'll find a bit of time to talk with @alexpott about it

[2017-05-23 22:04] dawehner commented on #13
Thank you for your feedback!
I committed that earlier.

[2017-05-23 22:04] #13 closed, assigned to nobody

[2017-05-23 22:07] dawehner opened #15 "Improve media UI using dropzonejs"
We could add dropzonejs integration which massively improves the UX for uploading images.

Problem: How do we integrate this JS library using composer automatically?
One possibility is to use the concrete releases and reference them as drupal-library, see https://gist.github.com/mortenson/a5390d99013b5b8c0254081e89bb4d47#file-composer-json-L10

This allows you to not commit the libraries, while no

[2017-05-23 22:15] dawehner opened #16 "Production (performant) vs. development settings"
Drupal core (standard profile), decided to provide as performant as possible configuration by default.

This includes

* Disabling showing of error messages
* some more

The underlying question though is: Do we want to follow the same route of having production settings by default?

[2017-05-24 05:08] e0ipso commented on #16
I would rather go with DX over production ready out of the box. We should enable errors by default.

Any other setting you'd like to change?

[2017-05-24 08:17] dawehner commented on #16
For me this was mostly about policy/general direction.

For a sec. I thought about the typical contestants like CSS / JS aggregation, but then I realized, these don't matter for a decoupled approach.

* Memory only caching for migrations

[2017-05-24 08:19] e0ipso opened #17 "Add a dev dependency on features"
We want to move `recipes_magazin` into the profile so we can diverge the data model from ootbei.

We also want a dev dependency on features:

![slack - drupal 2017-05-24 10-15-59](https://cloud.githubusercontent.com/assets/1140906/26393420/0ee571c0-406a-11e7-889a-2a33ced270cc.png)

[2017-05-25 21:41] dawehner commented on #17
We have fixed both bits, right? I think we can close this ticket now.

[2017-05-25 21:41] dawehner commented on #15
We are using dropzonejs now

[2017-05-25 21:41] #15 closed, assigned to nobody

[2017-05-28 12:24] e0ipso opened #19 "Add out of the box CORS support"
Things to discuss:

  - [ ] Enable CORS support for `'*'` out of the box as a default.
  - [ ] Allow changing the `'*'` for a list of allowed domains using the UI installer.
  - [ ] Provide a `contenta-cors-enable drush` command.
Other?

[2017-05-28 12:25] dawehner commented on #19
Added a 3rd point.

[2017-05-28 12:59] dawehner commented on #19
Note: I tried to implement the drush command using https://github.com/klausi/yaml_comments but sadly this libraryt has some bugs with counting the file numbers.

[2017-05-28 16:28] dawehner commented on #19
[code]

[2017-05-28 17:00] dawehner opened #20 "Show the about US page after installation"
I think it would be useful to show the about US page right after the installation.

[2017-05-28 18:53] e0ipso opened #21 "[IDEA] Education resources as demo content"
Here is an idea.

What if we added some tutorial content as demo content. That way when you install Contenta CMS you get a list of _Tutorials_ on different topics:

  * How to make queries against the provided content model.
  * How to create content (recipe reviews) using the API.
  * How to authenticate your requests.
  * How to set CORS to match your domain.
  * How to deal with routing.
  * …

[2017-05-28 18:54] e0ipso commented on #21
These tutorials could be as simple as YouTube embeds with sample code, or even TL;DR of existing blog posts with a link to the original post, etc.

[2017-05-28 18:54] e0ipso commented on #21
This would also be a great place for people to contribute with a low barrier of entry.

[2017-05-28 18:56] e0ipso commented on #20
I fully agree that we need a nicer front page after install. _About us_ is the only decent choice we have at the moment. I vote to use _About us_ for now and create a better landing page later.

I will create a follow up ticket to add a landing page.

[2017-05-28 19:00] dawehner commented on #21
Seems totally reasonable! We should somehow ensure that there is a limit of documentation and we refer to drupal.org for further details.

[2017-05-28 19:00] e0ipso opened #22 "Create content for a front page"
After #20 lands we'll have a landing page after installation. It will be set to the _About us_ page. However we want to have a page that is more dedicated to explain _next steps_ after installation.

I'm thinking of the scenario _… ok, I have this installed. What now?_

We'll need:
  - [x] Content for the front page.
  - [ ] Design for the front page (it can come later as a follow up).

Dependenci

[2017-05-28 19:01] e0ipso commented on #22
Pinging @ckrina in case she has ideas about how this could look like.

[2017-05-28 19:04] dawehner commented on #20
Let's use the "help wanted" tag, if possible?

[2017-05-28 19:57] e0ipso commented on #21
@dawehner absolutely. All the generic documentation should live in drupal.org. This would be for things that have a Contenta CMS dependency, for instance examples depending on the content model.

[2017-05-28 19:58] e0ipso commented on #21
@dawehner should we create follow ups for this?

[2017-05-28 20:02] e0ipso opened #23 "Remove drupalisms from the API"
Create an API that would be hard to tell that it's Drupal backed.

[2017-05-29 14:55] dawehner opened #24 "Check dependencies in the installer script"
Currently the installer script (```installer.sh```) assumes everything is installed, but this might not be true.

* Check for the PHP version.
* Check for sqlite being available ...
* Composer is installed.

[2017-05-29 15:09] e0ipso commented on #24
Added composer.

[2017-05-29 17:23] dawehner commented on #19
We had the idea to just expose it for localhost, aka.

[code]

, but well, this doesn't work, as it does check the port, aka. 8000 for me, so this didn't worked as expected.

[2017-05-29 17:45] dawehner commented on #19
We have documentation about CORS now, see https://github.com/contentacms/contenta_jsonapi#cors

[2017-05-29 20:45] e0ipso commented on #19
I think a sensible default can be to use the port that `drush runserver` uses by default, since the installer will use that one.

[2017-05-29 21:17] #17 closed, assigned to nobody

[2017-05-29 21:18] e0ipso commented on #16
I think this was done, right? Can you close this if fixed?

[2017-05-29 21:19] e0ipso commented on #14
This is implemented. I'm using the following command to exclude config (as stated in 3.5):

[code]

It's rudimentary, but it works.

[2017-05-29 21:20] dawehner commented on #16
True. We just need to keep it in mind when making decisions

On Mon, 29 May 2017, 22:18 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-05-29 21:20] dawehner commented on #14
Can we out that in a composer script?

On Mon, 29 May 2017, 22:19 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-05-29 21:21] dawehner commented on #19
Well it's sensible but also pointless isn't it? The app will not run on
this particular port, right?

On Mon, 29 May 2017, 21:45 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-05-29 21:22] e0ipso commented on #14
@dawehner we'd need to get fancy for the Contenta folder and the installed site folder. But we can leave this open for now.

[2017-05-29 21:23] e0ipso commented on #19
:man_facepalming: you are right.

[2017-05-29 21:23] e0ipso commented on #19
3000 and 8000 seem to be the most popular. Whatever value works for me.

[2017-05-29 21:33] dawehner commented on #19
Oh yeah I've seen 3000 4000 and 8000. Works for me

On Mon, 29 May 2017, 22:23 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-05-29 21:35] dawehner commented on #14
Maintaing config is hard

On Mon, 29 May 2017, 22:22 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-05-30 08:46] ckrina commented on #22
I completely agree on having a separate page for steps after install, different from the _about us_. Exactly what can be there I am not sure, but it will depend on what actions can actually be done.
So ideally there should something like "you are here (and have done that so far)". An later some actions (with call to action for each):
- Read more info/links to documentation
- Create content from cu

[2017-05-30 21:01] #23 closed, assigned to e0ipso

[2017-06-01 13:58] theodorosploumis commented on #7
Hi, is this issue still active? I see a logo on the Org page.
I could create some proposals if you like.

Coming from the Drupal world but I like creating design assets for Drupal projects. Thanks.

[2017-06-01 14:34] dawehner commented on #7
I know that https://www.drupal.org/u/ckrina worked on some logo suggestions @e0ipso can you ping them?

[2017-06-01 14:35] dawehner commented on #7
@theodorosploumis Welcome! I'm sure there is room for colaboration/ other stuff to work on :)

[2017-06-01 14:38] theodorosploumis commented on #7
In any case I am watching this project from the "Drupal" side. ;-)

[2017-06-01 14:51] dawehner commented on #7
@theodorosploumis You are more than welcomed  to join the ```#contenta``` room in the drupal slack

[2017-06-01 19:59] #19 closed, assigned to nobody

[2017-06-01 20:04] #16 closed, assigned to nobody

[2017-06-01 20:04] #5 closed

[2017-06-01 20:18] e0ipso opened #28 "Move the API personalizations to the recipes_magazin module"
So when that module is removed, the personalizations are gone.

[2017-06-01 20:53] e0ipso commented on #22
This is my initial proposal.

Thoughts are much appreciated.

---

OK! I just installed Contenta CMS, now what?

First of all, congratulations! We know that trying new software can be both fun and also a little bit intimidating. In any case we are glad to see that you are giving this a shot.

From here there are two different paths you can follow next:

  * You can explore the capabilities of deco

[2017-06-01 23:18] #20 closed, assigned to nobody

[2017-06-01 23:19] #28 closed, assigned to nobody

[2017-06-02 04:48] e0ipso commented on #22
@dawehner @ckrina is this the direction you had in mind?

[2017-06-02 08:23] e0ipso commented on #7
I don't know if this counts as branding, but I am tempted to use `lolcat` in all the command line output screenshots.

Example:
![web zsh 2017-06-02 10-20-49](https://cloud.githubusercontent.com/assets/1140906/26717368/6e7f1400-477d-11e7-9064-1e83f23269ca.png)

![contenta zsh 2017-06-02 10-24-59](https://cloud.githubusercontent.com/assets/1140906/26717450/bdee3d68-477d-11e7-9baa-02e87f3d8428.png)

[2017-06-02 09:40] dawehner commented on #7
Lol, well ensure that Travis/circle CI output is readable.to be honest confveve is the way more powerful alternative tool.

[2017-06-02 09:51] dawehner commented on #22
I'd have swapped the text about authentication and creating content. Once we have front-ends I'd link them from this document

[2017-06-04 04:56] e0ipso commented on #22
I added the content to the migration.

[2017-06-04 19:31] dawehner opened #30 "[IDEA] Implement a IONIC native app"
https://www.drupal.org/u/samuelmortenson offered to get involved with an ionic native app.
That's great, as for example, the more frontends we have, the better it gets for other frontends, as we will explore the potential problems

It would be great if samuel mortenson could come up with general ideas how this native app would look like, which features it could provide etc.

[2017-06-05 15:01] tormi opened #31 "Class Drupal\bootstrap\Bootstrap not found"
Tried quick install and failed:

[code]

[2017-06-05 15:18] e0ipso commented on #31
Yeah. I broke the installer. I'll revert the last commit soon.

On Jun 5, 2017 17:17, "Tormi Tabor" <notifications@github.com> wrote:

[2017-06-05 17:07] dawehner opened #32 "Make the installer available globally"
[code]

Ideas:

* Provide a composer package which includes just the installer
* Somehow produce a phar file out of the installer and let people install that one
* Maybe other ideas?

[2017-06-05 21:35] e0ipso commented on #31
@tormi that should have been fixed by 0ba5212f95b84f1ee77cbbf54f5864761f5db9dc.

[2017-06-05 21:35] #31 closed, assigned to nobody

[2017-06-06 00:08] tormi opened #33 "(2/4) Installing Contenta CMS for local usage is failing"
ReflectionException: Class  does not exist in                        [error]
/var/www/contentacms/web/core/lib/Drupal/Core/Installer/Form/SiteSettingsForm.php:154

Full stack trace:
[code]

[2017-06-06 00:10] tormi commented on #31
Thanks! Bootstrap error is gone, but now this: #33 ;)

[2017-06-07 03:43] tormi opened #34 "Installer script should remove $mytmpdir path from composer.json"
contentacms.sh deletes $mytmpdir (`rm -Rf $mytmpdir`), but it doesn't remove it's leftovers from composer.json:

[code]

[2017-06-07 04:02] tormi commented on #34
@e0ipso, Happy Birthday and thank you for all the time an effort you have put into this !!! :beer: :birthday: :smile:

[2017-06-07 06:41] dawehner commented on #34
Ah so you propose to do a ```git checkout``` afterwards? Do you want to file a PR?

[2017-06-07 06:42] dawehner commented on #33
@tormi Is this particular issue solved for you now?

[2017-06-07 10:43] frega commented on #33
@tormi please make sure that the sqlite-extension is installed - depending on your evironment there are a variety of ways how this can be done (in debian/ubuntu this `sudo apt-get install php-sqlite3` would do the trick ...)

#24 addresses the depedency check that would catch this :)

[2017-06-07 12:26] tormi commented on #33
Thanks @frega , that did the trick!

[2017-06-07 12:26] #33 closed, assigned to nobody

[2017-06-07 14:51] tormi commented on #34
No, never mind ;)

[2017-06-07 14:51] #34 closed, assigned to nobody

[2017-06-09 06:20] dawehner opened #42 "Write tests for the installer"
Just an idea, it would be nice if we would have continues testing of the installer

* Once https://github.com/contentacms/contenta_jsonapi/pull/40 is merged
* Create a .travis.yml file
* Add a test-installer.sh file inside a tests folder
* Execute it from within travis
* Ensure that after the process we have a webserver running on :8888 and we can access the default recipes via HTTP

[2017-06-09 20:10] #14 closed, assigned to e0ipso

[2017-06-09 20:11] e0ipso commented on #7
Yay @ckrina! Thanks!

[2017-06-09 20:11] #7 closed

[2017-06-12 10:26] e0ipso opened #43 "Add explicit documentation about CORS"
See the Slack thread.

![slack - drupal 2017-06-12 12-21-55](https://user-images.githubusercontent.com/1140906/27029838-49152e76-4f6a-11e7-9d5e-4a97e7659589.png)

[2017-06-12 10:28] e0ipso opened #44 "Become production ready checklist"
Add a checklist of things to do in order to be production ready:

  - Set up CORS headers.
  - Simplify the consumer to make only simple requests.
  - Add trusted hosts.
  - Enable all caches.
  - Enable syslog, disable dblog
 - Ensure to not show PHP errors
 - Turn off unnecessary modules
  - Review the status reports

[2017-06-12 10:38] dawehner commented on #43
Should we remove the documentation from the readme ? I think its not the worst there, but meh

[2017-06-12 10:45] e0ipso commented on #43
We can keep it in both places. I would just want to document the reason why we're shipping with those values and how people need to change them. Does that make sense?

[2017-06-12 10:48] e0ipso opened #45 "Exposed filters for tutorials view"
Allow people to filter the tutorials per topic in `/help/tutorials`.

[2017-06-12 10:49] e0ipso commented on #14
This is the shell script I'm using nowadays:

[code]

[2017-06-12 10:53] dawehner commented on #43
Totally!

Mateu Aguiló Bosch <notifications@github.com> schrieb am Mo., 12. Juni 2017
um 11:45 Uhr:

[2017-06-14 20:46] e0ipso opened #47 "Test OpenAPI as a replacement for Docson"
This is currently blocked by Schemata.

[2017-06-14 21:08] e0ipso opened #48 "Auto-deploy Contenta CMS to a publicly accessible site"
We have something going on with CircleCI and Pantheon, but it's a bit abandoned / disfunctional at the moment.

[2017-06-14 21:08] e0ipso commented on #30
I am closing this one, as I'm about to create the `contenta_ionic` repo!  🎉

[2017-06-14 21:08] #30 closed, assigned to nobody

[2017-06-14 21:49] dawehner commented on #48
I'll try to get it running again. Is it okay that it runs under some
different domain?

On Wed, 14 Jun 2017, 22:08 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-06-14 21:50] dawehner commented on #47
Sounds really good!

On Wed, 14 Jun 2017, 21:46 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-06-18 17:39] dawehner commented on #48
@e0ipso Is this solved now?

[2017-06-18 19:31] e0ipso commented on #48
Yes!

[2017-06-18 19:31] #48 closed, assigned to nobody

[2017-06-19 20:42] tedbow commented on #47
I think the latest dev version of Schemata  should work I think. But should try to see if we can get the maintainer to do a release.

[2017-06-19 21:36] dawehner opened #56 "Generate an oauth client by default"
See https://github.com/acquia/reservoir/blob/8.x-1.x/reservoir.install#L31

[2017-06-19 21:37] dawehner opened #57 "Add an developer and a editor role"
It would be nice to have a role for editors as well as one role for developers.

What kind of permissions should each of those actually have?

[2017-06-19 21:38] dawehner commented on #57
Potential follow up generate some example users

[2017-06-19 22:04] dawehner opened #58 "[plan] Road towards a release"
What do we want to have before a release?

Note: A release adds a lot of momentum, there is some magical force involved

[2017-06-19 22:04] dawehner commented on #58
It could be an alpha/beta release maybe?

[2017-06-19 22:05] dawehner commented on #47
@tedbow For comment we still needed to apply the RTBC patch against schemata

[2017-06-19 22:06] e0ipso commented on #58
I want an alpha for my presentation in Barcelona. I think that the front page theming and the quick overview is blocking that.

Shall we add issues to fix them?

[2017-06-19 22:17] dawehner opened #59 "Regroup the admin ui"
As we can learn from reservoir, we can totally improve the experience by providing a more focused admin UI.

* Make content modelling a first class citizen
* Make UI developers tasks a first class citizien, aka. API documentation, OAuth client, Oauth tokens etc.

[2017-06-19 22:50] e0ipso opened #60 "Spread the Open Source ❤️ and get inspiration from Reservoir"
Reservoir has many great things. Let's list the features that we like from the project and vote on them if we'd like to see them in Contenta CMS.

One feature per comment, please add your own! When you add a feature add both a 👍 and a 👎 so people can vote with a single click. Please add screenshots if applicable.

[2017-06-19 22:51] e0ipso commented on #60
The dual-format view of a node in the back-end.

![hello world site-install 2017-06-20 00-51-14](https://user-images.githubusercontent.com/1140906/27309122-a1370776-5552-11e7-91b4-cdacdd9556de.png)

[2017-06-19 22:52] e0ipso commented on #60
A 30 sec overview tour.

![content site-install 2017-06-20 00-52-18](https://user-images.githubusercontent.com/1140906/27309151-c3764388-5552-11e7-9ae4-db45ff22001e.png)

[2017-06-19 22:53] dawehner commented on #60
Generate an oauth client by default

When you install it, you get a oauth client by default, without any command line vodoo needed: https://github.com/contentacms/contenta_jsonapi/issues/56

[2017-06-19 22:54] e0ipso commented on #60
The simplified admin settings (even for user/1).

![content site-install 2017-06-20 00-53-14](https://user-images.githubusercontent.com/1140906/27309182-e2df7942-5552-11e7-918d-2078d7eeda54.png)

[2017-06-19 22:54] dawehner commented on #60
Editor/Developer role

When you install it, there is a role for both editors and developers. Make that separation is really helpful, IMHO: https://github.com/contentacms/contenta_jsonapi/issues/57

[2017-06-19 22:56] e0ipso commented on #60
* Default demo users: and all the logic that warns you to change it in production.
  * Regrouping the User and Simple OAuth settings in a single page.

![users site-install 2017-06-20 00-54-20](https://user-images.githubusercontent.com/1140906/27309213-07d3d374-5553-11e7-9eda-01446693339e.png)

[2017-06-19 22:58] e0ipso commented on #60
OpenAPI & ReDoc. **We already have this in! No need to vote.**

![site-install 2017-06-20 00-58-15](https://user-images.githubusercontent.com/1140906/27309313-8e3334be-5553-11e7-840d-9773187f329a.png)

[2017-06-19 22:59] e0ipso commented on #60
Simplified admin/content page without views (and without the features that the view adds).

![content site-install 2017-06-20 00-59-13](https://user-images.githubusercontent.com/1140906/27309347-af9157f8-5553-11e7-94a5-fa9f87a272fd.png)

[2017-06-19 23:02] e0ipso commented on #60
Lack of a media library. We have one in Contenta.

![content contenta json api 2017-06-20 01-01-03](https://user-images.githubusercontent.com/1140906/27309431-fcecd644-5553-11e7-9d4e-d71b855cc25f.png)

[2017-06-19 23:04] e0ipso commented on #60
Remove UI to change the Appearance and Extend.

Yes, it's redundant with https://github.com/contentacms/contenta_jsonapi/issues/60#issuecomment-309595964 but from the opposite angle.

![content contenta json api 2017-06-20 01-02-55](https://user-images.githubusercontent.com/1140906/27309497-6f4cb448-5554-11e7-9463-c3f4909e4d93.png)

[2017-06-19 23:07] e0ipso commented on #60
Contenta has a _Knowledge Hub_. Do you like it?

![tutorials contenta json api 2017-06-20 01-06-23](https://user-images.githubusercontent.com/1140906/27309538-b0c88f50-5554-11e7-8faf-307c8374a0c5.png)

[2017-06-19 23:10] e0ipso commented on #60
## Add your suggestion!

[2017-06-19 23:25] mortenson commented on #60
If we add default roles, I think that adding shortcut sets per role using https://www.drupal.org/project/shortcutperrole is a better option than simplifying the toolbar. Good permissions + good shortcuts really helps content editor UX.

[2017-06-19 23:36] e0ipso commented on #60
https://vimeo.com/222271467 is a good feature overview of Reservoir.

[2017-06-20 00:09] dawehner commented on #58
Issues are never a bad idea :p

On Mon, 19 Jun 2017, 23:06 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-06-20 11:38] justafish commented on #60
For the the dual-format view of a node in the back-end - I really like it, but I think it's a terrible editorial experience so +1 if it goes onto a separate tab and the edit interface is the default.

Most decoupled projects I've worked on don't even provide the rendered node under the "View" tab, so even better I think would be the edit form with a JSON view that could slide in from the side.

[2017-06-20 14:12] justafish opened #61 "Default Editor View for Nodes"
Following on from https://github.com/contentacms/contenta_jsonapi/issues/60#issuecomment-309726962

My preference would be to not show the Node View at all, since rendering on the back-end doesn't really make sense in a decoupled world, and instead have the default tab be Edit. Other tabs can then link to the front-end for that particular node. Here's an example of something in production:

<img w

[2017-06-20 14:12] justafish commented on #60
Moved the above discussion to #61

[2017-06-20 14:16] chris-hamper commented on #60
Re: @justafish I like the edit-centric approach on the backend. I'd envision having some other way of viewing the node in a quick and easy way via the actual frontend.

She had mentioned on #Contenta that her past approach was changing the "View" tab to be a link to the node on the frontend. I could see having some sort of plugin system that describes to the backend where the frontend is and how t

[2017-06-20 14:20] tedbow commented on #61
Yes I like this idea to have the edit form be the default view. I also like the idea to the JSON output on separate tab or at least have it only viewable with some sort of developer permission. Because a lot of users would logging in just to edit/add content

I could still a use case for a view tab. What about before the decoupled app has been developed or when someone is downloading the Contenta

[2017-06-20 14:21] prestonso commented on #61
From a usability standpoint, the expectation I would have upon clicking an inactive tab is that the tab would become active and still visible, and the preview would show up underneath the row of tabs. This is because I would expect to be able to toggle back and forth much like the "Write" and "Preview" tabs on this GitHub comment form.

A button would be a much better approach here to signify to t

[2017-06-20 14:55] justafish commented on #60
@chris-hamper we have this as a simple array in the Drupal settings file on the site screen-capped above (it's also able to fully control the URL structure so there's no need for any URL mapping)

[2017-06-20 15:25] ckrina commented on #59
Totally agree. Identifying first the main tasks for each role (#57) would help a lot here.

[2017-06-20 22:13] e0ipso commented on #57
I think it would be a good idea to converge on the same roles _Reservoir_ creates with the same permissions (we'll have more than them because there are more features to grant permissions to).

### Roles list
  - [x] Anonymous user
  - [x] Authenticated user
  - [x] Content administrator
  - [x] Client developer

[2017-06-20 22:50] e0ipso commented on #57
This was addressed by 076222c1db809b9bdb82386e74c2e24510ad4891. I'm leaving this open in case you want to change the permissions set. I got the permission list from Reservoir.

[2017-06-20 22:51] e0ipso commented on #59
@ckrina this is now unblocked, as #57 was fixed.

[2017-06-21 08:44] e0ipso opened #62 "Disable the search module"
It was brought in by a dependency on the materialize base theme (it is a bug).

Make sure:
  - [ ] The bug is fixed.
  - [ ] The search module is disabled.

[2017-06-21 08:50] wimleers commented on #57
- You committed `uuid`s as well in the config. You don't want that :)
- Interesting that you're also adding actions. Can you explain why?
- Finally: do you _like_ the user role labels? _Content administrator_ and _Client developer_? Would you have chosen different role labels?

[2017-06-21 08:58] wimleers commented on #60
I love that the cross-pollination has already started!

And I love that pretty much all of the ideas of Reservoir appeal to Contenta users :) It almost make me wonder if we should move the `reservoir_ui` module into a separate project? Contenta offers a superset of Reservoir's functionality, so it could quite easily add on its own additional things?

(It took me quite a while to figure out how to

[2017-06-21 08:59] wimleers commented on #61
Copying what I wrote at https://github.com/contentacms/contenta_jsonapi/issues/60#issuecomment-310013457:

[2017-06-21 08:59] wimleers commented on #60
Moved my reply to "dual-format view" to https://github.com/contentacms/contenta_jsonapi/issues/61#issuecomment-310013935.

[2017-06-21 09:00] wimleers commented on #47
https://github.com/contentacms/contenta_jsonapi/commit/15adb293711351dbc5c8f812ac5923055601a707 already did this?

[2017-06-21 09:01] wimleers commented on #9
We've been thinking about this also for https://github.com/acquia/reservoir.

[2017-06-21 09:12] dawehner commented on #9
If we theme the installer we should use a materialized style, IMHO. It fits into the environment for the other parts.

I personally though believe that using command line is the way to go for setting up Drupal given that ANY frontend technology these days is doing that. We already let people use composer to use it in the first place. Switching to the browser would be a bit of a context switch to b

[2017-06-21 09:14] dawehner commented on #47
We wanted to test it for a while before we really announce it :)

Wim Leers <notifications@github.com> schrieb am Mi., 21. Juni 2017 um
10:00 Uhr:

[2017-06-21 09:18] dawehner commented on #60
The one thing I'm wondering, is this secure. I guess, but I have no idea

[2017-06-21 09:27] dawehner commented on #57
As someone who is using Drupal in the wild, I can say the patch provided by alexpott in https://www.drupal.org/node/2788777 totally makes this possible. It allows you to use ```drush cex``` with install profiles basically.

This happens when you drush cex :) To be honest though we REALLY don't need them IMHO.

For me at least "administrator" feels like something with more capabilities. What about

[2017-06-21 09:43] e0ipso commented on #57
I just reused what it was there. I don't care all that much, i figured that we can change them later. :-P

What Daniel said.

We want to have a simple config workflow (it was Alex's only direction). What we want to do is:
  - Click around.
  - `drush cex`
  - Commit.

Anything more complex than can lead to debugging configuration sets. Not a fun place to be. If that brings in default config that w

[2017-06-21 09:46] e0ipso commented on #60
@wimleers, thanks for the feedback!

Agree! See http://dev-contentacms.pantheonsite.io/api

[2017-06-21 09:47] e0ipso commented on #60
#59 Should expose a link to it (or something similar), is that what you mean?

[2017-06-21 09:48] e0ipso commented on #60
Any known gotchas? I haven't used it in a while.

[2017-06-21 09:49] e0ipso commented on #60
People underestimate how much effort video content is! <3

[2017-06-21 09:58] e0ipso commented on #60
On a general note I have to say that I don't like the idea of the back-end server knowing anything about the front-end implementations. Not even to provide links to node pages:

  - You cannot know, with certainty, about the existence of the front-ends (tricky if it's a public API).
  - The front-end may not have a dedicated view action for that _resource entity_ (only coincidental that resource e

[2017-06-21 10:01] e0ipso opened #63 "Disable resources"
Some resources are exposed by default and we want to disable them using JSON API Extras.

  - `node--tutorial`
  - `search_page--search_page`

[2017-06-21 10:16] dawehner opened #64 "Add webflo/drupal-core-strict"
When `composer update` is run, it can potentially fetch packages which are more up-to-date than what is expected for Drupal Core.

Adding `"webflo/drupal-core-strict": "^8.3"` to the require section of composer.json should prevent this.

See https://github.com/webflo/drupal-core-strict for more details

[2017-06-21 10:17] wimleers commented on #63
Note you'll also have to explicitly do it for `openapi`, until https://www.drupal.org/node/2887868 is fixed.

[2017-06-21 10:19] wimleers commented on #60
It is and it isn't. This generates a unique key pair per site: not one key pair across all Reservoir sites. That's good. But it doesn't store it in an ideal place, it just stores it in `sys_get_temp_dir()`. I got that idea from `\League\OAuth2\Server\CryptKey::saveKeyToFile()`.

[2017-06-21 10:22] wimleers commented on #60
I agree in principle, but in practice it's of course very valuable. At least for those sites where the "Content administrator" role is used very actively.

I think it could be configurable: a "content front end mapping URL", which accepts either node ID or node UUID, and then generates a front-end URL. Of course, this assumes that there's a _single_ front end.

So another solution could be to make

[2017-06-21 10:26] wimleers commented on #60
Oh and regarding security: that means that https://twitter.com/michaellnorth/status/877202039394230272 _definitely_ does not remotely apply here.

[2017-06-21 10:26] wimleers commented on #47
👍

[2017-06-21 10:27] wimleers commented on #57
But "Content editor" implies more limited capabilities: they can edit content, maybe create new content … but not also publish and manage _all_ content.
That's why I first went with "Content manager". At some point I changed it to "Content administrator".

[2017-06-21 10:39] dawehner commented on #60
<3

Wim Leers <notifications@github.com> schrieb am Mi., 21. Juni 2017 um
11:26 Uhr:

[2017-06-21 13:44] #64 closed, assigned to nobody

[2017-06-22 09:19] dawehner opened #66 "Adapt the instructions data model"
## Problem

Currently the instructions are a fulltext field, which makes it potentially problematic for frontends to render:

* Reading a fulltext is hard
* Just showing some of the steps is hard

## Proposal

Split the instructions up in a list of instructions, basically a list of strings, not wysiwyg content.

## Discussion

There is a lot to discuss. Results:

* You want to ensure editor experi

[2017-06-22 09:23] justafish commented on #66
I think it's better to leave as full text - splitting it out as individual steps makes a frustrating editorial experience. It's not especially hard to process the text on the front-end.

[2017-06-22 09:36] ckrina commented on #66
I agree with @justafish: restricting it so much might be not future-friendly because it would limit too much the kind of instructions given.

[2017-06-22 09:38] e0ipso commented on #66
I feel I'm in the opposite end with regards to this. IMO the data model should have structured content. To address the (very real) editorial issues we could add a full-text widget that parses the editorial content.

The problem of full text is that it only works well for single-consumer applications (and only when you are in control of both sides). It's the same problem of having a WYSIWYG. WYSIWY

[2017-06-22 09:42] joaogarin commented on #66
I kind of agree with @justafish I think the full text instructions is not a problem. It has the advantage if being able to follow any style you want..since its not restrictive in any way, its just text.

I kind of see the point that you cant do much with it except put it like it is..but for this specific field maybe I just don't see a structure that would fit the larger amount of use cases..maybe

[2017-06-22 10:43] justafish commented on #66
What has worked well for me on a number of projects - I would suggest a free text area with a wysiwyg, but with a very restricted set of HTML that can be used. If consumers want to split into steps, they can split by `<p>` tags.

[2017-06-22 11:03] e0ipso commented on #66
@justafish were those projects single-consumer website (in a browser)?

[2017-06-22 11:03] e0ipso commented on #66
@justafish were those projects single-consumer website (in a browser)?

On Jun 22, 2017 12:43 PM, "Sally Young" <notifications@github.com> wrote:

What has worked well for me on a number of projects - I would suggest a
free text area with a wysiwyg, but with a very restricted set of HTML that
can be used. If consumers want to split into steps, they can split by <p>
tags.

—
You are receiving this

[2017-06-22 11:13] dawehner commented on #66
For now I updated the issue that we agree that having a single textarea (in some abstract way) as input seems to be a good approach?

[2017-06-22 11:14] dawehner commented on #66
Personally I could imagine that with technologies like draft.js one could extract a lot of structured content out of that single textarea.

[2017-06-22 11:38] wimleers commented on #66
Yes, "text area with highly restricted text format" strikes an interesting balance because it allows for a *spectrum* of possibilities (almost no markup allowed, to MS Frontpage-style static page building). So it can satisfy many use cases.

Related: http://wimleers.com/article/drupal-8-structured-content-authoring-experience — also see the comments, where there's also a good discussion with Jeff

[2017-06-22 11:47] wimleers commented on #66
Hah, strongly related: https://github.com/acquia/reservoir/issues/20. I wonder how @justafish has been dealing with that? Or perhaps she's just managed to avoid that problem?

[2017-06-22 11:54] dawehner commented on #66
Well, it really depends on the level of limitations you apply I think.

For me this is really not a technical issue, its an issue of what is actually the best for the various people involve.

[2017-06-22 11:54] justafish commented on #66
@wimleers only allowing images that are in the media library and/or ones attached to that node through an asset field. These aren't embedded with direct <img> tags and come through to the front-end as a token.
The front-end can then decide what to do with that image metadata - which is usually to pipe it through somewhere else to get different sizes.

[2017-06-22 12:00] justafish commented on #66
@wimleers The data that appears in the APIs has already been processed by Drupal's filters, so I'm not sure what you're getting at here.

It's up to each individual front-end what they want to do with this HTML - I wouldn't recommend they take it at face-value and also do their own processing. Here's an example from an actual site with https://www.npmjs.com/package/sanitize-html

[code]

[2017-06-22 12:02] justafish commented on #66
and of course if the set of allowed tags changed then there would need to be some co-ordination - but this is the same for any API change :)

[2017-06-22 12:09] justafish commented on #66
@wimleers Apologies, I had my D7 head on and was thinking that JSON:API gives you filtered output straight away and it doesn't (as you linked to in the d.o issue).

I think we can still do the filtering on the client-side as above, and then when https://www.drupal.org/node/2626924 is fixed we'll be extra happy

[2017-06-22 12:33] joaogarin commented on #66
I agree about going with a single textfield..with limits in its allowed tags like mentioned by @justafish
. Also for this particular field I don't see the need for images..We might discuss this in a more generic way "textareas" in general. But instructions with images uploaded via the backend I don't feel its necessary / useful. Would add a lot of complexity with very small benefits I guess.

Migh

[2017-06-22 12:45] e0ipso commented on #66
I disagree, but I seem to be outvoted. Although my concerns did not seem to be addressed.

Not is addressed only to @justafish, but to anyone suggesting to add markup and/or a single field. I have had "the pleasure" to deal with this for a long time (see https://youtu.be/dHtuZQ-prnw?t=10m24s).

[2017-06-22 12:53] e0ipso commented on #66
Contenta CMS is an example of best practices in the real world, but I fear we are focusing on building a JS website only.

Things that *also* shape the best practices:
  - tvOS (and many others) has many problems parallelizing requests.
  - Roku (and many others) cannot overlay text on an image (so it needs to be dealt with in the backend in a clean way)?
  - Apple (and Amazon Fire) Univesal searc

[2017-06-22 18:22] eaton commented on #66
Recipes in particular are a tangly space, because a "properly" modeled ingredients list is actually a lot more complicated than even multivalue text. On a previous project, we had to break things down into components (like "white sauce" vs the complete dish), and each component was a cluster of ingredients. Each "ingredient" entry was actually an ingredient, measurements, unit of measure, and note

[2017-06-22 18:25] eaton commented on #66
To clarify, this is something that I (think) is probably worth treating as a distinct problem in its own right. Very, very few real-world content applications treat "totally unformatted text" as an acceptable solution to the problem, so if you want to grapple with this in particular it might be worth breaking out text transformation as a separate challenge…

[2017-06-22 18:45] e0ipso commented on #66
When I said:

What I meant was HTML (-ish) markup. Something like markdown or even textile (gasp!) is easier to parse by our smart light bulb's processor, and also sets the expectations (limited scope, no tag attributes, no css-able, …).

In fact @dawehner is already looking into this at the moment I believe.

It seems we're talking about the same solution.

I believe that the discussion is more f

[2017-06-22 18:48] e0ipso commented on #66
What I want to avoid at all cost is: _«Oh! That markup doesn't work for the Blackberry consumer. Let's create a field_instructions_blackberry field and have our own markup»_.

Instead create an environment where editors don't have to fight over the field contents to get *their* markup in because it *looks* right in their consumer.

[2017-06-23 10:47] justafish commented on #66
Editors work in HTML and that's not something you can get away from easily. Extra metadata (e.g. a class to indicate the responsive table strategy, the position of an image) is necessary - it doesn't mean that all consumers are going to be able to abide by the suggestions of it. I understand your concern about certain consumers not being able to process HTML, and I like @eaton 's suggestion of the

[2017-06-23 11:15] e0ipso commented on #66
_I don't think we'll agree on this. We're repeating arguments. So I'll make this my last comment._

*HTML with classes for responsive tables* means hardcoding your API to a web browser based client (responsive being a web browser thing, html being web browser centric). I don't like the idea of re-coupling the decoupled architecture.

HTML with classes ≈ WYSIWYG => _What You See (in the editor) Is

[2017-06-23 15:30] eaton commented on #66
https://alistapart.com/article/battle-for-the-body-field has my extended rant on the topic ;-)

Any use of formatting in a multiplatform/multichannel environment requires a transformation step, though — markdown and other similar formats included.

[2017-06-23 15:41] e0ipso commented on #66
@eaton I was totally thinking of that article.

Agree. I'd just rather avoid HTML/WYSIWYG because it leads to web-page mindset. In fact that was what I meant by:

[2017-06-23 16:27] eaton commented on #66
So, as we go through the discussion, I'm realizing that we really have two separate questions in play:

 1. Should we have a single field for the instructions, or a multivalue field that captures individual steps
2. What formatting should be used in the field(s), whether they're multivalue or not.

Multivalue probably makes sense, but I'd be concerned about going Markdown if we're actually trying

[2017-06-25 04:53] e0ipso commented on #61
There is a service that takes a loaded entity and serializes it in the JSON API module. You may not need to save it to `TempsStore` to do that. That is unless you want to support relationships via IEF (which I don't think it's your intention).

[2017-06-26 14:27] #62 closed, assigned to nobody

[2017-06-26 14:45] wimleers commented on #66
I think that perhaps the difference is that @justafish has mostly "narrative content" (an article, a blog post, or in other words: linear text information) in mind, where "mild formatting" is fine, but @e0ipso has vastly different representations of the same content in mind, which is not something one usually does for narrative content.

*Recipes are both narrative content (to take you through the

[2017-06-26 14:48] e0ipso commented on #66
(Almost) all my points revolve around:

[2017-06-26 14:48] wimleers commented on #66
Agreed, @justafish! That metadata to describe aspects of the data more clearly can be _selectively_ acted upon by each of the clients (front ends, apps) using/presenting this information. But it's still mostly _narrative_ content then.

:D So few people say this, I'm glad to know somebody else who thinks this!

Amen. Also see http://wimleers.com/article/drupal-8-structured-content-authoring-experi

[2017-06-26 14:50] wimleers commented on #66
This may be true. But if the assistive text editor allows you to add classes (or `data-` attributes) to describe the metadata of a particular piece of content, and client A interprets subset S1 and client B interprets subset S2, then there is no problem.

It requires some knowledge and constraint, but it's definitely doable.

[2017-06-27 11:43] chris-hamper commented on #56
I'll take on implementing this

[2017-06-27 11:53] dawehner commented on #56
Nice, thank you a lot already!

chris-hamper <notifications@github.com> schrieb am Di., 27. Juni 2017 um
12:43 Uhr:

[2017-06-27 17:46] cjgratacos commented on #56
@chris-hamper I had my eye on this issue. Awesome, I am really interested in the PR.

[2017-06-27 19:36] ckrina opened #75 "Design for the front page"
Here is a first version for the homepage design based on #22 as a starting point. Let's iterate on that.
Here is the source on Figma: https://www.figma.com/file/JPY2wxeDoDXXVrdiJCdmWMFn/Contenta?node-id=75%3A157

![desktop](https://user-images.githubusercontent.com/2225966/27606379-4c1af0f2-5b80-11e7-9fdc-b6ec0053fb7a.png)

[2017-06-27 19:38] chris-hamper opened #76 ""Not Allowed." displayed when logging in to the site"
When logging into the site using the form at /user, the browser displays an almost-empty page with just the message "Not Allowed."

This is likely due to the CORS bug described in https://www.drupal.org/node/2853201

@dawehner suggested applying: https://github.com/asm89/stack-cors/commit/6daf5757971173b79ddabbd755d59d333c278f42.patch
to fix this.

[2017-06-27 19:42] e0ipso commented on #75
Make sure to post any changes necessary to the content and/or markup in here. I will add it as default content so everyone gets that content on install.

[2017-06-27 20:23] davidhwang opened #78 "readme.md should have an introductory blurb explaining what Contenta is"
Let's put a brief explanatory blurb at the top of the readme that describes what Contenta is, and what it does (and maybe why you should use it?)

[2017-06-27 20:33] e0ipso commented on #78
@davidhwang maybe some extract from the tl;dr in https://medium.com/@mateu.aguilo.bosch/contenta-makes-your-content-happy-6f76bbe0cdae?

[2017-06-27 20:37] davidhwang commented on #78
Here's a try: https://github.com/contentacms/contenta_jsonapi/pull/79

[2017-06-27 21:12] joaogarin commented on #75
Cool work! Is the idea to go with something along a more custom theme? or just having the basics of the admin material theme and do little iterations on top?

I think some hand crafted illustrations would be a nice fit, although that requires some effort. I personally like to see things get out a bit of the "standard" when it comes to the design of the page. But that comes with some costs.I hate t

[2017-06-27 21:18] e0ipso commented on #75
@joaogarin this is actually the _user-facing_ theme (material based), for the help and documentation pages that Drupal will be serving as part of Contenta.

I'd love to have more iterations on the designs and UX (there is something going on already), but we can probably go with this design for now and iterate later. Maybe a separate GH issue with tags to discuss all things UX?

For clarity, this d

[2017-06-27 21:28] #78 closed, assigned to nobody

[2017-06-27 21:32] joaogarin commented on #75
Yeah totally agree on getting this out and iterate over it! as it is a huge improvement. And yeah I get the idea now that this is not an admin page but the actual frontend for contenta. Still I would consider that "administration".

Totally agree on getting something cool to the users after installing (also during installing) asap! ;) cheers. is anyone working on the installation? I would love to

[2017-06-27 21:38] e0ipso commented on #75
👍

[2017-06-27 21:39] e0ipso commented on #75
😍  that would be amazing.

[2017-06-27 21:40] joaogarin commented on #9
my vote for theming installer : definitely :+1: :+1: !!
I will try to sketch something for this during these next days

[2017-06-28 23:50] jakubsuchy opened #82 "Could not apply patch! Skipping. The error was: Cannot apply patch https://www.drupal.org/files/issues/2870904-22.patch"
- Installing drupal/simple_oauth (2.0.0-rc2) Loading from cache
  - Installing drupal/schemata (dev-1.x 99c723d) Cloning 99c723ddd4 from cache
  - Applying patches for drupal/schemata
    https://www.drupal.org/files/issues/2870904-22.patch (https://www.drupal.org/files/issues/2870904-22.patch)
   Could not apply patch! Skipping. The error was: Cannot apply patch https://www.drupal.org/files/issue

[2017-06-28 23:51] jakubsuchy commented on #82
I've tried clearing cache and did not help. Here is a similar issue: https://github.com/acquia/reservoir/issues/42

[2017-06-29 10:18] e0ipso opened #84 "Add the Fancy Filters spec to the Knowledge Hub"
https://gist.github.com/e0ipso/efcc4e96ca2aed58e32948e4f70c2460

[2017-06-29 10:41] pixelmord commented on #66
This is a very valuable discussion.
I have worked on a couple of projects involving these kinds of problems as well and currently working on a private pet project that deals with more the ingredients and seasoning side of recipes and thus have been thinking a lot about how to parse existing ingredient lists and how to enable a good editorial experience that has a compromise of simple input and for

[2017-06-29 17:08] justafish opened #85 "Create a module that will ignore the path field on entities when routing in Drupal"
Following up from the routing discussion in Slack, we would like a module that prevents Drupal from using the contents of the path field for routing. The path field will provide the routes that front-end consumers use, and this prevents conflicts from trying to overlay a should-be-separate routing system on top of Drupal's routing system, without losing the benefits of the path module (i.e. pathau

[2017-06-29 17:10] justafish opened #86 "Have JSON API Extras return the new path value when there is a redirect"
Following up from the routing discussion in Slack, JSON:API needs to return the value of the new path of some content when it's slug/path has been changed.

It doesn't need to return the contents of the node at the new location, just the value of the new path so a redirect can be sent to the user.

[2017-06-29 20:22] DavidHernandez opened #87 "Quick install error"
I tried the quick installation process and it failed. Then, I tried it directly using composer and that worked correctly. Here are some details:

Environment: Linux / Debian testing

PHP:
[code]

Composer:
[code]

It returns this error at the end of the process:

[code]

It seems like the symlink to the profile is broken:

[code]

The permissions of the folder seem correct:

[code]

I'm installing

[2017-06-29 20:24] e0ipso commented on #87
Can you also paste the result of:

[code]

[2017-06-29 20:29] cjgratacos commented on #87
Interesting, if you run the command from inside the web folder does it work?

[2017-06-29 21:23] GustavoMarcante opened #88 "Warning "file_exists(): open_basedir restriction in effect" installing in a shared server"
Hi. Congratulations for the awesome project of Contenta!
I installed Contenta in my desktop (Ubuntu 16.04) without problems, but installing in a Linux shared server I got this warning after "Configure site" and in all the pages (where USER is my account):

[code]

I don't have access to my php.ini and I cannot change "open_basedir restriction" through the server PHP options.
Any idea about how to

[2017-06-29 22:29] dawehner commented on #88
Thank you for reporting your problem!

Do you mind trying out https://www.drupal.org/node/2890894#comment-12149528 ? I think this should fix the particular problem you have.

[2017-06-30 00:50] boztek opened #89 "Extremely slow installation due to 'recipes_magazin__images_url' migration"
I understand this is a known issue.

In recipes_magazin.install there are multiple migrations that run during an installation. One of them is 'recipes_magazin__images_url', which I'm told downloads many images from the web.

The result is that without this migration, on a good day, a "rebuild" using scripts/development/build-contenta_jsonapi.sh and a warm composer cache etc. takes approximately 2

[2017-06-30 05:21] e0ipso commented on #88
Is it possible that after deploying this the path to your encryption files is not accessible? Did you configure Simple OAuth in your local and then moved the configuration upward?

[2017-06-30 05:45] e0ipso opened #90 "Implicit node dependency"
## Problem

At the moment we are executing `node install` as [part of the `create-project` composer command](https://github.com/contentacms/contenta_jsonapi_project/blob/8.x-1.x/scripts/composer/ScriptHandler.php#L116) in `contenta_jsonapi_demo`.

If we combine that with the [`package.json`](https://github.com/contentacms/contenta_jsonapi/blob/8.x-1.x/package.json) in `contenta_jsonapi` we have th

[2017-06-30 06:12] e0ipso opened #91 "Create GitHub releases"
To speed up the installation process it would be nice to have a build that we could leverage [GitHub releases](https://github.com/blog/1547-release-your-software).

The idea is that for each merge to master (we should all use squashed commits), we should have a ZIP file with the result of `composer-create`. There is currently a task in Travis that builds the site for testing purposes. We should be

[2017-06-30 09:21] DavidHernandez commented on #87
[code]

[2017-06-30 09:28] justafish commented on #90
Marked off the 3rd item as travis already installs our dependencies.

npm is currently **only used for testing**, so we shouldn't be running this with the composer install at all. In fact, we don't even use npm, we use yarn :) Installation instructions for that are in https://github.com/contentacms/contenta_jsonapi#testing - I've updated the second task on the list to reflect this

[2017-06-30 09:28] dawehner commented on #91
One thing we could discuss is whether we should bundle up the images for
the default_content migration in that ZIP file or not.

I guess this would have solved the speed problem for boztek

On Fri, 30 Jun 2017 at 07:12 Mateu Aguiló Bosch <notifications@github.com>
wrote:

[2017-06-30 09:31] dawehner commented on #90
with the composer install at all. In fact, we don't even use npm, we use
yarn :) Installation instructions for that are in
https://github.com/contentacms/contenta_jsonapi#testing - I've crossed out
the second item on the list

I do agree with that. This is currently in there inherited from drupal
create-project ... because well, it is potentially quite useful, and will
be for actual sites. Just im

[2017-06-30 09:36] dawehner commented on #89
I totally agree that this is a huge problem! Do you think https://github.com/contentacms/contenta_jsonapi/issues/91 would solve the problem?

[2017-06-30 09:39] e0ipso commented on #90
I think that there is merit to keep `npm install --production` (or `yarn` if you will) as part of the build process. Moving the testing stuff to the `devDependencies` will fix the current problem *and* the future problem without requiring additional work.

[2017-06-30 12:23] cjgratacos commented on #91
I am going to take this issue.

[2017-06-30 13:13] cjgratacos commented on #91
Going to also investigate on Travis CI github issue creator. With this, when a build fails and an artifact doesn't get promoted and a Github issue gets created for investigating.

[2017-06-30 13:20] cjgratacos commented on #91
@e0ipso you mean zip the `composer create-project ...` result?

[2017-06-30 15:48] e0ipso commented on #91
@cjgratacos yes. Zip alm the files that are needed to run drush site-install

[2017-06-30 16:58] mdonadio commented on #43
I am not sure if restricting to localhost out of the box is the best idea.  I wonder how many people are doing headless-dev just locally; I went straight to a firewalled AWS environment because that's where all of my consumers are.

TBH, I really think this is an upstream issue (ha!) where if `cors.config.enabled == TRUE && in_array('*', cors.config.allowedOrigins` then a warning about a potential

[2017-06-30 17:09] e0ipso commented on #43
We are changing this for our demo site. I think we should have prominent documentation on this and show how we do it.

[2017-06-30 18:51] GustavoMarcante commented on #88
Thanks for the replies.

@e0ipso I don't know if this is your question, but (remembering that is a shared server), I
installed Contenta in ~/app/contenta and
created a link from ~/www/contenta to ~/app/contenta/web
The owner or all files is my user (not www-data as in my Ubuntu desktop).
I did not move files or directories.

@dawehner Sorry for my question, but I'm new in Drupal and I never applie

[2017-07-01 12:32] spoetnik opened #95 "RealWorld backend.."
Would it be an idea to use Contenta as a RealWorld backend?
https://github.com/gothinkster/realworld

This would be a great promotion for Drupal as an API backend.

[2017-07-02 06:22] arifkhn46 opened #96 "Warning: chmod(): Operation failed: No such file or directory in League\OAuth2\Server\CryptKey->__construct() (line 51 of /home/arif/contenta/demo/vendor/league/oauth2-server/src/CryptKey.php)."
After installation I got following warning :

Warning: chmod(): Operation failed: No such file or directory in League\OAuth2\Server\CryptKey->__construct() (line 51 of /home/arif/contenta/demo/vendor/league/oauth2-server/src/CryptKey.php).

![warning-on-installation](https://user-images.githubusercontent.com/12694008/27767692-e4bb10ae-5f1c-11e7-9ec1-4b51375f694e.png)

[2017-07-02 23:50] boztek commented on #89
While that looks like it would make sense for end users of the distro, isn't it reasonable to provide distro developers a reliable way to build and test changes without waiting 10mins? At the very least a flag to turn the migration off for distro developers or perhaps a way to cache those assets for rebuilds.

[2017-07-03 06:33] e0ipso commented on #86
Thanks for opening this @justafish!

After thinking on how to best implement this I realized that one significant complication is that you have to check for uniqueness when you add a new slug.

That needs to be ensured not only for the currently available slugs across all the entity types, but also across all revisions on all entities on all entity types.

EntityQuery does not provide such queryin

[2017-07-03 06:38] e0ipso commented on #90
Decision pending:

  * Vote ❤️  for: _I agree that `node` is just for testing and we should not run `npm install --production` when installing via composer since we don't have anything to install._
  * Vote 🎉  for: _I agree that `node` is too useful for real projects so we should run `npm install --production` when installing via composer. This will be helpful for sites that use Contenta as a star

[2017-07-03 06:50] e0ipso commented on #82
Closed by #83.

@jakubsuchy can you confirm this issue is fixed?

[2017-07-03 06:50] #82 closed, assigned to nobody

[2017-07-03 08:09] dawehner commented on #90
One thing to keep in mind, we are executing npm install inside the ```profiles/contenta_jsonapi``` folder, a folder you would not touch when you work on a real site.

[2017-07-03 08:12] e0ipso commented on #90
@dawehner well there is the case that you follow @dawehner's best practices and treat your site as a distribution based on Contenta, right?

But you are correct, that seems to be still rather unusual.

[2017-07-03 08:25] e0ipso commented on #90
@dawehner yeah, that's true. I did not get it initially when @justafish brought that point up. I thought we were executing in the root.

I guess there's still value to discuss if we want to execute `npm install --production` in the root. But that's a different issue.

[2017-07-03 08:30] dawehner commented on #90
@e0ipso So given that, you agree we should remove it?

[2017-07-03 08:31] dawehner commented on #86
When I started to work on that, I realized this is indeed a problem. I think the way to go would be to leverage the KV store to continuesly store every slug we ever had.

[2017-07-03 08:33] e0ipso commented on #86
That's a good way to go. The requirements for that would be:

  - The storage is persistent and not clearable (unless explicitly)
  - The storage is readable/writable across multiple webheads.

Does that impact viability on this solution?

[2017-07-03 08:34] e0ipso commented on #90
👍 YES. (sorry I wasn't clearer above)

[2017-07-03 08:40] dawehner commented on #86
That is exactly what a KV is about, unlike cache for example.

This is the same for a KV store. Well theoretically you could mess it up on your implementation, but at least the default (DB) automatically ensures that.

[2017-07-03 08:48] justafish commented on #90
https://github.com/contentacms/contenta_jsonapi_project/pull/3

[2017-07-03 09:29] #90 closed, assigned to nobody

[2017-07-03 09:29] dawehner commented on #90
The PR is merged now

On Mon, 3 Jul 2017, 10:48 Sally Young, <notifications@github.com> wrote:

[2017-07-03 09:30] dawehner commented on #96
Thank you for reporting this issue. https://github.com/contentacms/contenta_jsonapi/issues/88 is a duplicate with an idea how to fix it.

[2017-07-03 09:30] #96 closed, assigned to nobody

[2017-07-03 13:19] cjgratacos commented on #96
@dawehner can we attach the image to the #88 issue?, it would be a great reference, just for tracking purposes.

[2017-07-03 13:52] dawehner commented on #88
@e0ipso just tagged a release, so this is fixed now :)

[2017-07-03 13:52] #88 closed, assigned to nobody

[2017-07-03 13:52] dawehner commented on #88
Thanks a lot for the detailed reporting and trying out of the patch.

[2017-07-03 13:52] dawehner commented on #96
@e0ipso posted a new RC of simple_oauth which fixes this particular problem, yeah!!

[2017-07-03 14:31] mrjmd opened #97 "Explore options for a new slogan / project description"
The current slogan for the project is "Contenta makes your content happy!"

There has been a concern raised that this isn't very descriptive of exactly what Contenta is, so this issue is a place for us to brainstorm succinct ways of describing the project.

[2017-07-03 14:37] dawehner commented on #97
Just some ideas:

* ## The api first CMS which makes you happy (addressing non Drupal users)
* ## The api first distribution which makes you happy (addressing Drupal users)

[2017-07-03 14:43] e0ipso commented on #97
Non-judgemental brainstorming appreciated! We want all your wrong ideas (and the good ones too).

[2017-07-03 14:45] e0ipso commented on #97
## Decoupled Best Practices from Back to Front

[2017-07-03 14:47] e0ipso commented on #97
## The Content-First Decoupled CMS

[2017-07-03 14:47] mrjmd commented on #97
```Contenta gets you going with Decoupled Drupal.```
```Contenta: Home of the community's Decoupled Drupal best practices```

[2017-07-03 14:50] e0ipso commented on #97
## Examples in All Fronts

[2017-07-03 14:52] yann-yinn commented on #97
I think we should consider **WHO** is the first "audience", and **WHAT** Contenta brings to them.

I suggest to first focus on **Drupal community** interested in headless / decoupled site, to be more efficient (easier when we know exactly to who we are talking) and to walk step by step. Convince first the "heart" of our audience and then the others.

So, for Drupal people ( dev or drupal industry)

[2017-07-03 14:53] mrjmd commented on #97
```Contenta: API-first simplicity backed by the power and community of Drupal```

[2017-07-03 14:58] DavidHernandez commented on #97
I like mrjmd suggestion, maybe I will simplify it to `API-first simplicity backed by Drupal`.

[2017-07-03 15:01] yann-yinn commented on #97
`API-first simplicity backed by the community of Drupal`

(like to bring back idea of community / opensource in the game )

[2017-07-03 15:14] sirkitree commented on #87
I'm installing on Windows Bash, but it's a fairly typical LAMP installation using the following steps:
* https://gist.github.com/sirkitree/94ef6cc083443e2f5d4b1a8850015cc9

### System info
[code]
[code]

### Errors
There are 3 main errors displaying. I've put them into a gist to save space here. Happy to put them inline if you prefer. The second on is just like the one @DavidHernandez reported abo

[2017-07-03 15:18] joaogarin commented on #97
Contenta : Plug and play decoupled CMS

[2017-07-03 15:18] DavidHernandez commented on #87
@sirkitree I was able to install Contenta getting it from Composer and then installing with drush:

[code]

[2017-07-03 15:18] e0ipso commented on #97
I want to rescue one @nyl-auster had

## Open Source Content as a Service

[2017-07-03 15:28] e0ipso commented on #86
@dawehner great! Is this the same that the redirect module will be doing? Should we have this piece re-usable for them as well?

[2017-07-03 15:30] dawehner commented on #87
@sirkitree You are missing sqlite in your list of extensions :( Well, for that you currently can't use the quickinstall script, maybe someone can pick it up and adapt it to use mysql and ask for credentials if sqlite is not available :) For now you can use the [instructions](https://github.com/contentacms/contenta_jsonapi#installation-for-building-your-own-site) which are the same as @DavidHernand

[2017-07-03 15:31] dawehner commented on #86
Well redirect uses entities to store redirects. This would be another
option we could use as well. I could imagine this is actually better, as
you can somehow deal with revisons/translations etc., but I'd have to have
a deeper dive into how redirect actually works.

Mateu Aguiló Bosch <notifications@github.com> schrieb am Mo., 3. Juli 2017
um 16:28 Uhr:

[2017-07-03 16:11] e0ipso commented on #66
I like that idea @wimleers! Someone at Drupal Summer Barcelona, suggested something similar with micro-formats.

I guess that my biggest issue is with HTML, unless it's very restrictive (to the point that is only adding semantic value and not styling a browser). WYSIWYG tends to become not very restrictive.

[2017-07-03 17:45] amitaibu commented on #66
There was a really interesting [presentation](https://www.youtube.com/watch?v=C3mnyJlCqMk) in Elm-conf by @noahzgordon about type-safe and composable recipes. Basically, modeling this exact same problem.

There isn't a UI for this (that is, in the presentation the UI is Elm, but nothing is exposed to the end user). But one may think about a pipelines like UI for this, which might be close to what

[2017-07-03 17:48] mrjmd commented on #97
```Contenta: Lowering the barriers to Decoupled Drupal```

[2017-07-03 23:26] GustavoMarcante commented on #97
I’m new here, so would be right to jump these lines...
But sometimes the view of an “outsider” might be useful.
Specially to add a point at “WHO is the first ‘audience’, and WHAT Contenta brings to them.”

1) First of all, I don’t know Drupal (yet), so I’m an example that **Contenta CMS can attract people that are not connected (yet) with Drupal**.

2) Even being a computer scientist and programme

[2017-07-04 04:39] e0ipso commented on #97
I really think this defines an important aspect of Contenta.

[2017-07-04 04:43] e0ipso commented on #97
Wow @GustavoMarcante there's a lot of good avise in there. I can only agree with most of what you say.

[2017-07-04 04:50] e0ipso commented on #97
I was thinking about multiple audiences, let's see what everyone else thinks:
  - _James:_ The Drupal dev that after +4 years is ready to explore new technologies like React.
  - _Lola:_ CTO of a mid sized company looking to modernize their online experience. She likes to do quick tests of things before doing full research.
  - _Andreas:_ The experienced JS developer who's after a free backend tha

[2017-07-04 04:51] e0ipso commented on #97
I think we can reach James easier than we can reach Lola and Andreas.

[2017-07-04 04:52] e0ipso commented on #97
@GustavoMarcante regarding the tagline, I believe that you'd like to see the concepts of **reliability** and **community backed** in there. Am I correct?

[2017-07-04 05:54] e0ipso opened #98 "Grant permission to anonymous to 'access user profiles'"
We want to be able to access author information as an anonymous user.

[2017-07-04 06:00] e0ipso opened #99 "Gather default content for the articles content type"
We need default content for the article content type so the consumers can make requests against it.

The articles should be in the realm of _recipes_ or _food_ in general. Pasting or attaching the content in this issue is fine, we can create a follow up ticket to import that content by default.

For each article, please specify the different fields in our data model when relevant:

![manage fields

[2017-07-04 06:00] e0ipso opened #100 "Import the default content for articles"
Make the automatic migration to import the content gathered in #99.

[2017-07-04 06:06] e0ipso commented on #99
In order to make sure we are not violating any licenses we should only use creative commons material. We imported recipes from cookipedia because they are CC BY-SA 3.0. You can detect that with an image like this:

![cookipedia privacy policy 2017-07-04 08-04-21](https://user-images.githubusercontent.com/1140906/27817090-9da9a3fa-608f-11e7-86da-222d05749808.png)

[2017-07-04 06:41] dawehner commented on #89
I more than agree that we should speed that up.

I think using some placeholder by default and then fetching the images
later could work.

On Mon, 3 Jul 2017, 00:50 Boris Gordon, <notifications@github.com> wrote:

[2017-07-04 09:35] yann-yinn commented on #97
@GustavoMarcante thanks a lot for your time, very valuable.
Here are some keywords i noted :
- Drupal is a word that gives **confidence** (probably more than contentful, graphcms and such) since it is here since a long time
- **Community** and **full open source** makes a real difference
- I notices you talked several times of the notion of **channel** , could you elaborate on this ?
- **content r

[2017-07-04 12:19] pixelmord opened #101 "Add graphQL as an API option"
As discussed already in slack #contenta, it would be good to also provide alternative APIs for a proper demo of an API first Drupal.
GraphQL would be a good candidate to be provided as alternative to jsonAPI, because it is widely adopted and is opinionated in a different way.

What I can tell from the discussion in the channel is that it would make sense to integrate that into contenta as an OPTIO

[2017-07-04 12:42] dawehner commented on #101
Thank you for opening an issue. Its important to have this discussion!

Maybe we should put all the graphql integration into a module, ```contenta_graphql```, you enable, and you get the experimental feature.

As a starting point I get this module would just contain all the submodules of the graphql module, you actually need. Contenta should make this easier!

[2017-07-04 12:47] dawehner commented on #101
Earlier @fubhy mentioned https://apis.guru/graphql-voyager/ we could maybe include as well.

[2017-07-04 12:59] pixelmord commented on #101
I know I might be sticking my arm into a bees nest, but it might be important to get that discussion out of the way:
What if somebody is wanting to use contenta only with graphQL and disable jsonAPI? Would that be possible? Would jsonAPi also be encapsulated into one module (that could be potentially disabled)?
Would than the name contenta_jsonapi still be the best and not contentaCMS?
That also r

[2017-07-04 13:08] dawehner commented on #101
I think these are all questions which should be answered over time, which is why I like labeling graphql support as experimental first. Then we can iterate over time.

For the knowledge hub for example we could tag the tutorials by #jsonapi/#graphql and by that provide some nice filter mechanism.

[2017-07-04 14:05] fubhy commented on #101
@dawehner I think we should add voyager (or something custom, it's actually easy to build yourself!) to the graphql module itself. Much like we have "graphiql" in there too.

[2017-07-04 14:13] dawehner commented on #101
Fair point :) I'm cool with whatever works. To be honest, I think graphiql
is actually more useful on a day to day base, while voyager gives you an
initial overview

On Tue, 4 Jul 2017 at 15:05 Sebastian Siemssen <notifications@github.com>
wrote:

[2017-07-04 17:09] mortenson opened #103 "Create a new project for consuming data with Javascript"
Looking at the example consumers for this project, there have been a few attempts at parsing JSON API data coming from contenta_jsonapi:

1. In [contentacms/contenta_vue_nuxt](https://github.com/contentacms/contenta_vue_nuxt), a [new service was created](https://github.com/contentacms/contenta_vue_nuxt/blob/79a23daa3c4783fcb5a6534a89045414f398f387/services/D8JSONAPIClient.js) using [d8-jsonapi-que

[2017-07-04 17:24] mortenson commented on #103
On [Twitter](https://twitter.com/AlwaysWorking/status/882287321067823105) @mattgrill mentioned that [waterwheel.js already has JSON API support](https://github.com/acquia/waterwheel.js#json-api), and is planning to support sub-requests.

[2017-07-04 17:59] GustavoMarcante commented on #97
@e0ipso @nyl-auster First of all, thanks for your warm welcome and consideration!
In these days is not so common to find people interested is listening and is obvious that this group is!

@nyl-auster Channels are the "heads" of the decoupled system, different ways to interact with content. A bank can have a website and mobile app, they do not have the same layout or functions or interactions, but

[2017-07-04 22:00] yann-yinn commented on #103
I did not try waterwheel with contenta : I thought it was only working with core REST module and not JSON API standard. Maybe we should start here ...
Waterwheel seems to work with _axios_ http request library, which is a good thing for vuejs + nuxtjs,  as it works both on Server Side Rendering and the browser.

[2017-07-05 22:52] mortenson commented on #103
I filed https://github.com/acquia/waterwheel.js/issues/60 to potentially add resource modeling to Waterwheel

[2017-07-06 16:10] mortenson opened #106 "Create a docker image for this distribution"
It would be useful to have a docker image for contenta_jsonapi, to make sure that we're all on similar dev environments. There have been a few issues reported in Slack that are related to incompatible Drush/PHP versions, which wouldn't be a problem if everyone was using docker.

Additionally, a docker image could also include all the example consumers, which would be a great way to get newcomers e

[2017-07-06 16:16] e0ipso commented on #106
Are you familiar with https://github.com/contentacms/contenta_docker? It seems that @pcambra and @cjgratacos are thinking in similar terms and you could collaborate!

Let me know if you want to be added to that team.

[2017-07-06 16:40] mortenson commented on #106
I had no idea! I'll file a PR with the consumers if I get some time, but this can be closed out.

[2017-07-06 16:40] #106 closed, assigned to nobody

[2017-07-06 16:41] yann-yinn commented on #97
@GustavoMarcante thanks for your feedback, always good to know more about the "who" and the "why" :)

@e0ipso @dawehner @mrjmd @joaogarin we had some great suggestions for a new slogan, why not pick a new one from the suggestions ? Maybe a poll ?
PS : i'm gathering right know all the suggestions in one single post / place

[2017-07-06 16:42] dawehner commented on #106
Well, swapping out quick install to use the docker image would be worth a discussion still, IMHO.

[2017-07-06 16:50] yann-yinn commented on #103
I'm currently switching to waterwheel instead of "_d8-jsonapi-querystring_" npm package on contenta_vue_nuxt.  I keep using "_jsonapi-parse_" npm package to resolve relationships / included objects.

[2017-07-06 16:58] yann-yinn commented on #97
A lot of great things in this text from http://www.cmswire.com/web-cms/july-open-source-cms-forecast-drupal-jahia-liferay-more/

Drupal
Drupal has released Contenta CMS, which some users are calling “the decoupled Drupal.”

I like :

`the decoupled Drupal.`

`a Drupal distribution that provides modern API capabilities out-of-the box `

[2017-07-06 17:03] yann-yinn commented on #97
Here we are :

- The api first CMS which makes you happy (addressing non Drupal users)
- The api first distribution which makes you happy (addressing Drupal users)
- Decoupled Best Practices from Back to Front
- Examples in All Fronts
- The Content-First Decoupled CMS
- Contenta gets you going with Decoupled Drupal.
- Contenta: Home of the community's Decoupled Drupal best practices
- Contenta: AP

[2017-07-06 17:36] e0ipso commented on #95
I think this is a cool idea! We're not there yet, but we could have a version of Contenta that does that.

[2017-07-06 17:48] yann-yinn commented on #97
Let's vote here for our favorites ! https://docs.google.com/forms/d/e/1FAIpQLSccFJeZZb6tJ_7ZlEBKfCvKw3fINxWDC97q4ByYlOboSWn8VQ/viewform?usp=sf_link

[2017-07-06 18:12] briancwald commented on #97
Slightly outside of the 'content' nomenclature, I think it's worth thinking about API and structure data as a primary indicator, as I feel like content is a subset of what actually is provided here.

- Contenta: Bootstrap for API driven Drupal
- Contenta: Structured backend for API driven applications

[2017-07-06 18:42] e0ipso commented on #103
Would it make sense to move the parser into waterwheel?

[2017-07-06 19:32] mortenson commented on #103
I mentioned it in https://github.com/acquia/waterwheel.js/issues/60, it would be a good first step to get everyone using it.

[2017-07-07 09:40] dawehner commented on #95
It would be indeed a really great idea! Sadly there is one major showstopper: RealWorld has a spec for the API, see https://github.com/gothinkster/realworld/blob/master/api/README.md which couldn't be achieved neither with rest in core, nor JSONAPI.

One could still develop custom rest resource plugins to achieve that. Maybe this would be then worth giving a try.

[2017-07-07 11:52] yann-yinn commented on #97
_edited:  9 july 2017_
Here are the results from **22** responses to the above poll. @briancwald choices where not there because the poll was already submitted with some responses, but we can re-introduce them from now in our available choices.

_Note: Voters where coming from slack contenta channel or from Drupal people i contacted via PM with twitter / facebook ._

Number of votes per choice, se

[2017-07-07 12:05] yann-yinn commented on #97
edited: 9 july 2017
this are the choices with at least 4 votes :
- The Content-First Decoupled CMS
- The api first CMS which makes you happy
- Contenta: API-first simplicity backed by the power and community of Drupal
- API-first simplicity backed by the community of Drupal
- Contenta : Plug and play decoupled CMS
- Open Source Content as a Service
- Contenta : The decoupled Drupal
- Contenta: Low

[2017-07-07 12:57] GustavoMarcante commented on #97
One suggestion, compiling what is voted above (feel free to fix my English...):
* **Contenta: Community driven decoupled CMS upon Drupal power.**

In my point of view:
"Open Source" is expressed by "community".
"Out of the box" and "plug and play" are implicit in CMS (remembering that Drupal says it is difficult to start because it is not a CMS, but a framework for CMSs, Contenta would be the "rea

[2017-07-07 12:59] yann-yinn commented on #103
I did the full switch now, works very well : https://contentavuedemo.github.io/
Would recommend waterwheel to beginners because of its authentication support (did not try it yet)
Works well from Browser AND server-side , perfect for me.

[2017-07-07 21:44] greg-1-anderson opened #109 "Pantheon integration"
Working on installing Contenta via the Terminus Build Tools Plugin here:

https://github.com/pantheon-systems/example-drops-8-composer/pull/93

[2017-07-07 22:22] greg-1-anderson opened #110 "Consider pre-configuring config split"
I love the default content provided by Contenta. With the [config split](https://www.advomatic.com/blog/using-configuration-split-to-have-dev-only-configuration-in-drupal-8) module, it would be possible to have the default content disabled in the live environment, but have it come back in development environments, even after pulling down the live database.

Just a thought; haven't tried it yet.

[2017-07-08 18:06] greg-1-anderson commented on #110
Not so relevant. Closing.

[2017-07-08 18:06] #110 closed, assigned to nobody

[2017-07-08 18:29] greg-1-anderson opened #111 "Curl example in the documentation"
There is a lot of documentation on Contenta and the jsonapi; however, I am still having trouble getting a basic `curl` command to retrieve data from the example content.

Per [Fetching resources ](https://www.drupal.org/docs/8/modules/json-api/fetching-resources-get) in the jsonapi documentation, I tried:
[code]
and
[code]
This results in a 404, even though I can view http://SITE/node/61 as an ano

[2017-07-08 18:32] dawehner commented on #111
Note 1: you now longer need the accept header
Note2: jsonapi accepts a uuid, not an entity id

On Sat, 8 Jul 2017, 19:29 Greg Anderson, <notifications@github.com> wrote:

[2017-07-08 18:33] e0ipso commented on #111
You can also drop the ID altogether and you'll get a list of recipes instead.

[2017-07-08 18:38] greg-1-anderson commented on #111
Tried:
[code]
Got a 404 in HTML. With the accept header, I got a 404 in json.

I'll go look up an entity ID and see if I can get a single entity back. Thanks for the pointer on that.

[2017-07-08 18:39] dawehner commented on #110
I was wondering whether we could also use a migrate revert for this
particular functionality / removing live content

On Sat, 8 Jul 2017, 19:06 Greg Anderson, <notifications@github.com> wrote:

[2017-07-08 18:40] dawehner commented on #111
It should be host:port/API/recipes

On Sat, 8 Jul 2017, 19:38 Greg Anderson, <notifications@github.com> wrote:

[2017-07-08 18:44] greg-1-anderson commented on #111
Ah that did the trick! Never tried the permutation of removing `jsonapi` and omitting the node ID. Now that I know to use the UUID and leave off the `jsonapi`, it is working.

Thanks!

[2017-07-08 18:47] greg-1-anderson commented on #110
In my experience, migrate revert did work fine after successful migrations, but I tended not to use it, as it did not always behave well if I fed garbage into the import process. For example data, which will presumably always import cleanly, it should be an option. Relying on install / uninstall of the module as it currently is also seems to be convenient enough.

[2017-07-08 19:26] greg-1-anderson commented on #111
Just to close the loop on this issue, where are the documentation bugs that should be corrected?

For example, is [Fetching resources ](https://www.drupal.org/docs/8/modules/json-api/fetching-resources-get) in any way wrong, or did Contenta configure the module to change the default routes?

Also, what is the explanation for the server url in the online generated documentation? Is a request to the

[2017-07-09 05:25] e0ipso opened #112 "Allow access to Open API documentation easily"
We need to:

  - [x] Provide the default permissions so users with the `client_developer` role can access the ducumentation.
  - [x] Provide an alias for `/admin/config/services/openapi/redoc/jsonapi` under `/openapi`.

This will need to be integrated with the efforts in: #59.

[2017-07-09 05:28] e0ipso commented on #111
Contenta uses JSON API to customize the API in order to remove many of the Drupalisms.

We need to better expose this one. In fact I just [created an issue to do so](https://github.com/contentacms/contenta_jsonapi/issues/112). It's in `/admin/config/services/openapi/redoc/jsonapi`.

That is the specification's documentation. There is no restriction in what the implementing servers use as UUID. The

[2017-07-09 05:46] e0ipso commented on #101
Filters are in place now for tutorial topics. However the topic is a text list, and we should add a GraphQL option there. @pixelmord can you create an issue to add GraphQL as an option for a topic in a tutorial node?

[2017-07-09 05:47] e0ipso commented on #101
That's great to hear @fubhy! Is there any issue you have to track that? I'm sure someone can create one if not.

[2017-07-09 09:58] yann-yinn commented on #97
@GustavoMarcante a JavaScript framework is the first reason i need a decoupled cms, so i guess it might be the first reason for some developpers. We want now to use React , Angular, Vue but we need a back-end for them, and other solutions are expensive and always as strong as Drupal.

I know channel is a concern but still dont really get why : my content for mobile is the same than content for the

[2017-07-09 11:42] pixelmord commented on #101
Here is the branch of my fork that at this moment just requires the graphQL module:
https://github.com/pixelmord/contenta_jsonapi/tree/feature/101_contenta_graphql

[2017-07-09 11:55] pixelmord opened #113 "Add GraphQL as an option for a topic in a tutorial node"
@see #101
We need to amend the option list in the field of the tutorial content type

[2017-07-09 15:41] dawehner commented on #112
I think putting it into the menu/toolbar should be part of it as well.

[2017-07-09 16:06] e0ipso commented on #95
Closing for now. Maybe in the future we can explore the possibilities. When I said _we could have a version of Contenta that does that_ I had not read the API requirements. Given those, I don't think this is an effort that we are ready to take on at this point.

[2017-07-09 16:06] #95 closed, assigned to nobody

[2017-07-09 18:11] GustavoMarcante commented on #97
@nyl-auster You got the point! Developers want decoupled CMS to choose their preferred front-end framework. What is fair! It is the best solution for the dilemma: front-end moves fast, back-end needs to be stable. In other words, ff your system don't show the data, that is a problem; if it looses your data, that is a catastrophe!

The first question would be: **the target of Contenta is only devel

[2017-07-09 19:22] e0ipso commented on #97
We've been talking a lot lately about the mission of Contenta. For anyone interested there is https://medium.com/@mateu.aguilo.bosch/contenta-makes-your-content-happy-6f76bbe0cdae, https://www.youtube.com/watch?v=gTAvdC3WUOM and https://www.slideshare.net/e0ipso/contenta-makes-your-content-happy

[2017-07-09 19:32] e0ipso commented on #97
With regards to the JS framework vs multiple distribution channels argument I feel there is value in both. I have had to develop APIs that need to work on tvOS, alexa, react, iOS, Android, … all with a single API. Having to think of all at the same time has lots of implications.

However I value **a lot** the freedom a decoupled CMS gives you because it lets the developer (the person that will bui

[2017-07-10 05:07] greg-1-anderson commented on #111
I added a sentence to the top of Fetching resources to be explicit about uuid vs entity id:

The examples on that page clearly used {{article_uuid}} et. al., but since it never explicitly said "entity uuid", it was a little confusing to me -- especially since other sources had examples with small integers (which could be entity ids, but could not be entity uuids). I'll try to also track down and c

[2017-07-10 05:11] e0ipso commented on #111
Having comprehensive documentation is very difficult. It is indeed a community effort. Thanks for closing the loop here Greg!

[2017-07-10 05:14] greg-1-anderson commented on #111
Oh, I see now. I was confused by http://jsonapi.org/format/#document-compound-documents, but the examples here are completely generic, and not Drupal specific. The Drupal implementation picked entity uuids for ids, so the generic documentation isn't completely in alignment.

The one thing I'm still confused about is the fact that the Drupal JSON API documentation says that URLs start with "jsonapi

[2017-07-10 05:21] greg-1-anderson commented on #111
Maybe a Curl frontend might be helpful? Could link to it in the example frontends on the http://www.contentacms.org/ if it existed. Or maybe link to the [JSON API CLI](https://github.com/consolidation/json-api-cli), when it's complete enough to do something. (Currently works for unauthenticated data fetch only).

**EDIT:** Rather than an example frontend, I instead suggested in #115 that perhaps t

[2017-07-10 05:27] greg-1-anderson commented on #111
And finally, the page /admin/config/services/openapi/redoc/jsonapi#tag/Content-Recipe is confusing, because the [openapi module](https://www.drupal.org/project/openapi) does not correctly reflect the API prefix modification done by the JSON API Extras module.

Should the JSON API extras be hooking this module to change this entry, or is this a bug in the openapi module, not correctly querying for

[2017-07-10 18:20] cjgratacos commented on #91
Closing. Issue was attended at #108

[2017-07-10 18:20] #91 closed, assigned to cjgratacos

[2017-07-10 18:30] GustavoMarcante commented on #97
@e0ipso Thanks for your confidence, I would be really honored to write as you proposed. But what I can write is what **I do expect** from Contenta (and probably some more people), and **not what Contenta is or might be**.

Just to avoid useless confusion, I'd like to make clear that I'm not writing _against_ any of the ideas or any people -- I'm here because I share the same points. I just want to

[2017-07-10 20:09] e0ipso opened #117 "Remove node_modules from the release artifact"
It's about 38Mb that we can shave since it is only for testing purposes.

[2017-07-10 20:10] #111 closed, assigned to nobody

[2017-07-10 20:12] e0ipso commented on #97
I think that is very clear. Sorry if I made it sound otherwise.

[2017-07-10 20:13] e0ipso commented on #97
This is what contenta is:

See the slide number 3 in the slideshare link above.

[2017-07-10 20:14] e0ipso commented on #97
The answer is both. Sorry for bot being clearer before.

[2017-07-10 20:17] e0ipso commented on #97
As mentioned above. We have put a lot of work on that, and made the effort to put this work available to everyone: https://github.com/contentacms/contenta_jsonapi/issues/97#issuecomment-313948816

I consider the part of the _Vision & Mission_ to be done. Everything is open to changes, but for now this is what we all think Contenta should be.

[2017-07-10 20:30] dawehner commented on #117
Note: We should also execute

[code]

inside our composer.json as well, as this probably saves quite a bit of
code as well.

Mateu Aguiló Bosch <notifications@github.com> schrieb am Mo., 10. Juli 2017
um 21:09 Uhr:

[2017-07-11 02:50] GustavoMarcante commented on #97
Thanks, @e0ipso, for making this clearer.
I was feeling almost like a policeman in a interrogation: "Confess! Confess!" :sunglasses:

Regarding the specific question about the features, I think I will open a new issue not to extend this too much.

[2017-07-11 05:01] e0ipso commented on #97
LOL

I actually think your questions are spot on. @GustavoMarcante we have been doing Medium for blog posts. Will that work for you?

[2017-07-11 14:32] pixelmord commented on #101
Regarding GraphQL voyager:
See this PR against the graphql module with a very basic POC implementation of it: https://github.com/fubhy/graphql-drupal/pull/190

[2017-07-11 15:40] GustavoMarcante opened #118 "Set basic CMS components (features) with Contenta"
One of the biggest restrictions about using Drupal as a Content Management Systems (CMS) is the **difficulty to start** – it demands a lot of learning and definitions. According to Dries and others, this is because of its characteristic of being not exactly a CMS, but most a Content Management Framework (CMF). To make this entry point easier, Drupal offers the **[Distributions](https://www.drupal.

[2017-07-11 18:41] cjgratacos commented on #117
Sounds good, @e0ipso and @dawehner, will work on it.

[2017-07-11 19:07] cjgratacos commented on #117
@e0ipso @dawehner, what are your opinions on leaving the contenta_jsonapi profile folder as clean as possible for the release artifact?
With this I mean only leaving CHANGELOG.md, CODE_OF_CONDUCT.md, composer.json, config, LICENSE.txt,modules, scripts, themes and README.md.

[2017-07-11 20:06] e0ipso commented on #117
The main goal for this release artifact is to be installable by drush
without further downloading.

On Jul 11, 2017 9:07 PM, "Carlos Gratacos" <notifications@github.com> wrote:

[2017-07-11 21:10] cjgratacos commented on #117
👍  perfect, pack the least we need

[2017-07-11 21:13] e0ipso commented on #117
Also, during the migration that happens on site install (which happens for
the tests anyways), we download many images. We will need those recipe
images in the release ZIP as well.

[image: --]

Mateu Aguiló Bosch
[image: https://]about.me/e0ipso
<https://about.me/e0ipso?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On Tue, Jul 11, 2017 at 11:10 PM, Carlos

[2017-07-12 09:28] yann-yinn commented on #97
feel to small for this big question, but i agree to help things go one step further when i can.

I think we may have to focus on changing "Contenta makes your content happy!" to something better for now; to help people understand what's is actually Contenta CMS.  **We are not choosing a slogan forever and it may change at anytime, it's all about improving a little bit current catchline.**

Sorry f

[2017-07-12 13:40] e0ipso commented on #97
@nyl-auster great. Do you want to hold a second round with those 2 options only?

[2017-07-12 14:14] e0ipso opened #120 "Integrate with readthedocs"
After #119 was merged we have a `docs/` folder with `*.md` files. That means that we can leverage http://readthedocs.org

In particular we may want to integrate like this https://docs.readthedocs.io/en/latest/builds.html#mkdocs

[2017-07-12 15:01] yann-yinn commented on #97
Don't know ...a third option (my favourite) would be :

**Contenta : The decoupled Drupal**
_API-first simplicity backed by the power and community of Drupal_

I would prefer a word like "solution" instead of "simplicity", because decoupled is quite hard for now :D

I have the feeling that first mission of Contenta is helping Drupal to mutate from a monolithic CMS to a decoupled CMS. We are openin

[2017-07-12 15:30] GustavoMarcante commented on #97
Now it sounds much better!
To avoid the word "Drupal" twice, I would suggest:

**Contenta: Decoupled CMS with examples**
_API-first efficiency backed by the power and community of Drupal_

or, focusing the accurate target audience (which, in my point of view, would be open source users, already Drupal users or not) and exactly what I would google for:

**Contenta: Open source decoupled CMS**
_API-

[2017-07-13 08:01] yann-yinn commented on #97
or :

Keep in mind catchline may be use alone , like "the decoupled Drupal". Do you want "Drupal" into the main catchline ?

[2017-07-13 08:04] yann-yinn commented on #97
@GustavoMarcante i think we should stick with existing suggestions from poll though, they are good enough and we need limits if we want to go one step further. We may still change one or two words if it feels right, but it takes time to constantly re-evaluates new suggestions. ( and we have feedback on suggestions from poll, small but still valuable )

[2017-07-13 09:36] ak-floweraura opened #121 "Installation with acquia dev desktop"
Hi Guys,

I am trying to install contenta on acquia dev desktop but I am facing an issue. The issue is I am trying to import the contenta as drupal project in the acquia desktop but when I am selecting the contenta folder to import, the acquia dev desktop is showing an alert, which says chosen directory is not a durpal site. Please refer the attachment for more details.
![contenta-add](https://use

[2017-07-13 09:37] #121 closed, assigned to nobody

[2017-07-13 09:37] arifkhn46 opened #122 "Installation with acquia dev desktop"
Hi Guys,

I am trying to install contenta on acquia dev desktop but I am facing an issue. The issue is I am trying to import the contenta as drupal project in the acquia desktop but when I am selecting the contenta folder to import, the acquia dev desktop is showing an alert, which says chosen directory is not a durpal site. Please refer the attachment for more details.

Please help!

![contenta-a

[2017-07-13 10:04] dawehner commented on #122
Do you mind explaining a bit more how you actually downloaded contenta?

I have the feeling you downloaded this git repo directly. In this case, read more on https://github.com/contentacms/contenta_jsonapi#installation-for-building-your-own-site

[2017-07-13 10:07] dawehner commented on #118
We ship with at least one component right now: The media support.

I tried to think of some others, but its a bit tricky. On a decoupled project you probably want to have a custom data model all the time, designing one which fits all could be really difficult.

[2017-07-13 12:39] e0ipso commented on #122
Maybe worth noting that you will need to point the root of your install to `…\contentacms\web`.

[2017-07-13 12:55] arifkhn46 commented on #122
@dawehner I downloaded the contenta using composer first then I am trying to import it in ADD.

@e0ipso I am new to ADD I think I need to search about it.

[2017-07-13 13:27] arifkhn46 opened #123 "Installation error: Drupal\Core\Config\UnmetDependenciesException:"
Environment:
OS: Windows
Server: Acquia Dev Desktop

Installation steps:
1) I used composer to download the contenta setup
   composer create-project contentacms/contenta-jsonapi-project MYPROJECT --stability dev --no-interaction
2) Place the contenta setup in the Acquia Dev Desktop's root folder.
3) Import the project locally into Acquia Dev Desktop.
4) open the project in the browser and run thr

[2017-07-13 15:04] GustavoMarcante commented on #97
@nyl-auster Feel absolutely free to use the suggestion as you think is the best way!
I'm not here to create troubles! :smiley:

As I wrote before, I can not help with code, so the point I can contribute is as an "previous" user, an outsider. I'm just answering what is written [above](https://github.com/contentacms/contenta_jsonapi/issues/97#issuecomment-312663925):

Slogan, tagline, catchline is t

[2017-07-13 20:27] yann-yinn commented on #97
Let's summarize suggestions. Maybe @dawehner @e0ipso @justafish should see now if something here describes well Contenta mission and speak to the early adopters they imagine. I have not really any legitimacy to push things further, just wanted to help gathering alternative ideas to "Contenta makes your content happy"

**catchlines :**

- Contenta : The decoupled Drupal
- Contenta : The content fir

[2017-07-14 00:39] Jaesin opened #124 "Don't require "webflo/drupal-core-strict"."
Some of us like to lock into tested version but others don't so we shouldn't force users to a specific version of dependencies.

Also, the required version is hard coded to 8.3.4 and 8.3.5 is out now.

[2017-07-14 04:35] #122 closed, assigned to nobody

[2017-07-14 11:36] dawehner commented on #124
Conceptually I think drupal-core-strict is nice for actual problems, but I see the point.

What about moving it from contenta_jsonapi to contenta_jsonapi_project, so its nicely adaptable per project?

[2017-07-14 17:00] NikLP opened #127 "Broken links when installed in subdir"
I'm not sure if there's a failure to use best practises here or what, but I have this installed in a subdirectory and all the links are broken. Seemingly this is because they start with a forward slash, which assumes site root == domain root, which is a bit of an arrogant (and incorrect) supposition if you don't mind me saying. This is obviously super annoying, and there's no way to correct it wit

[2017-07-14 17:18] dawehner commented on #127
I agree we should try to fix the links, just like Drupal does in general. Thank you for the report.

I assume your try out contenta locally.

The short time workaround is: Use ```drush run-server```, it will use its own port, so you don't need to worry about anything.

[2017-07-14 17:24] NikLP commented on #127
No I've got it running in a dev account on my linode, in which I have several subdirs for testing. So it's kind of a "proper" install, but it's irrelevant really. I think as you say the links are what need fixing if possible. :)

[2017-07-15 19:08] dawehner commented on #127
Thank you @NikLP this makes sense.
As far as I see we would need to ship with the pathologic module for that.
Thoughts?

[2017-07-15 19:08] dawehner commented on #124
We fixed that in the meantime. Yeah!

[2017-07-15 19:08] #124 closed, assigned to nobody

[2017-07-15 21:00] dawehner opened #131 "Make it clear in the UI that the main content of contenta requires a logged in user"
Currently its not really clear that the user most probably needs to login to get anything good out of it.

* Any ideas how to fix that? Maybe we could move to login link more prominent.
* Maybe we could display a message: Please log in ...

[2017-07-15 21:02] dawehner opened #132 "Assets vs. Media naming"
Currently there is a mismatch between using the word _Assets_ and _Media_ in several places:

![screen shot 2017-07-15 at 22 00 58](https://user-images.githubusercontent.com/29678/28242649-28cf2ed8-69a9-11e7-88fe-d1e87059ad08.jpg)

* [x] Agree with to a common naming
* [x] Use it in as many places as possible

[2017-07-15 21:16] dawehner opened #134 "Minimize the vertical space"
A lot of the vertical space of the admin pages is filled up with meta content, not the content of the current page, see screenshot:

![screen shot 2017-07-15 at 22 15 19](https://user-images.githubusercontent.com/29678/28242720-2e0796a4-69ab-11e7-87a8-e20f4778f5c2.jpg)

It would be nice if we could do something about it:

* Drop the breadcrumb?
* Move the title somewhere else?

[2017-07-15 21:21] dawehner opened #135 "Uninstall the experimental datetime range module"
We should consider uninstalling the datetime range module until its marke as stable

* In case the data model would change, we would screw up a lot of users data
* It is shown on the status report page as warning

[2017-07-16 05:27] e0ipso opened #138 "Use a leaner testing framework"
We are having several issues that could be mitigated by removing the dependency on Nightwatch:

  * Build time. It takes longer than necessary to test every PR because we need to install a node.js environment (parallel to the PHP one) in Travis. The builds are taking an average of 14-30 min.
  * Build size. It doubles the size of the release artifact. I assume it's the binaries for the browsers. R

[2017-07-16 05:30] e0ipso commented on #138
My proposal is to use the tools that we already have available in Drupal to do the _healthcheck_ test that the current Nightwatch setup is doing. A functional test in Drupal will do the job.

In the future we can easily test the API by using Guzzle in functional tests.

Thoughts or proposals?

[2017-07-16 05:33] e0ipso commented on #132
I recall you proposed _Assets_ in the past? I'm good with that.

[2017-07-16 05:34] e0ipso commented on #131
This is probably the job of the welcome page.

[2017-07-16 05:35] e0ipso opened #139 "Remove the Quick Overview page"
The page in `/quick-overview` doesn't add much and it can be removed to avoid conflicts with the `snail` module.

[2017-07-16 05:41] #139 closed, assigned to nobody

[2017-07-16 06:17] e0ipso commented on #118
I agree with @dawehner. @GustavoMarcante do you have any specific thoughts on this?

[2017-07-16 06:55] dawehner commented on #132
Given that all the documentation about media in Drupal is using "Media" as term, I'm not sure about it anymore

[2017-07-16 07:08] e0ipso opened #143 "Create the "Revert" button"
Add a form that disables:

  - [x] Recipes Magazin.
  - [x] Recipes Magazin Contenta.
  - [x] Materialize Contenta theme.

[2017-07-16 07:19] e0ipso commented on #132
Good point. Let's use _media_ then.

[2017-07-16 07:31] e0ipso commented on #134
Paging @bcwald for this one.

[2017-07-16 07:31] e0ipso commented on #132
This is addressed in #145 moving conversation there.

[2017-07-16 07:31] #132 closed, assigned to nobody

[2017-07-16 11:01] NikLP commented on #127
I thought settings $base_url and then using paths like "this" instead of "/this" would fix it, but I've had no end of trouble setting base paths in D8 and indeed am using Pathologic in my previous build which has no problems of this nature (IIRC!!)

Furthermore I found this Yoast article (2012) which seemingly avidly promotes such a method.
https://yoast.com/dev-blog/relative-urls-issues/

[2017-07-16 19:11] GustavoMarcante commented on #118
@dawehner @e0ipso Thanks for the replies.

@dawehner What do you mean by media support?

@e0ipso Thoughts? I have a lot!!! But I'm trying to make them practical...
As you exposed, after following the first four steps in Contenta (and I did it! probably one of the firsts to do it :smiley:), and go to [step 5](https://www.slideshare.net/e0ipso/contenta-makes-your-content-happy), Contenta looks like

[2017-07-17 07:00] e0ipso commented on #118
Building these features could be an interesting way to make Contenta CMS friendlier to non-Drupal people.

However I think this should sit on top of Contenta and not in Contenta itself.

Maybe we can focus on small feature (let's not get too ambitious, we may overwhelm people working on this).

@GustavoMarcante you seem to be *very* knowledgeable on what other CMS are doing, can you propose a _ver

[2017-07-17 10:45] dawehner commented on #118
I could imagine it would be reallly nice if one could choose from a couple
of features in the installer. This could then pull features from a features
server, you know like people planned back in the days :)

On Mon, 17 Jul 2017 at 08:00 Mateu Aguiló Bosch <notifications@github.com>
wrote:

[2017-07-17 11:26] cjgratacos commented on #138
I do agree with the idea, making the ci faster. Guzzle will suffice and make the job for at least the API Testing, aka the Functional part. Will make it leaner and that is what we want.

IMHO, we should also start thinking about having more coverage in other levels of testing and start leveraging PHP testing framework like codeception or other.

_Sent from my Lge LG-H918 using [FastHub](https://pl

[2017-07-17 12:14] cjgratacos commented on #120
Closing this issue. Integration was done

_Sent from my Lge LG-H918 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 12:14] #120 closed, assigned to cjgratacos

[2017-07-17 12:59] dawehner commented on #120
<3

Carlos Gratacos <notifications@github.com> schrieb am Mo., 17. Juli 2017 um
13:14 Uhr:

[2017-07-17 14:30] GustavoMarcante commented on #118
Yeah, you got it!!!  :tada: :confetti_ball: :tada:

Great! Maybe "features" can have the same status as "example content", or maybe recipes example content can be one of the features (I like this way). And you choose if (or what) you want or not to install in installation phase and can install or uninstall later, as it is with content now (like common modules, but in a friendlier way, see bellow).

[2017-07-17 15:56] GustavoMarcante commented on #118
The challenge, I think, is that these modules have impact both in the back-end (content types) and front-end, because they came from coupled strategy.

Reservoir removed all references to front-end. Contenta kept them - what to a progressive decoupled strategy is necessary, because you will have the "coupled CMS channel". Issues [75](https://github.com/contentacms/contenta_jsonapi/issues/75) and [

[2017-07-17 22:35] #117 closed, assigned to cjgratacos

[2017-07-18 14:38] #143 closed, assigned to nobody

[2017-07-18 15:19] cjgratacos opened #149 "Don't install require-dev dependencies on the release artifact"
Currently, in the release artifact, we are bundling the project's require-dev dependencies specified in composer.json.

Such dependencies are unnecessary to be bundled in a release.

This will reduce the release artifact's size, and reduce deployment time.

[2017-07-18 15:46] dawehner commented on #149
Nice idea!

Carlos Gratacos <notifications@github.com> schrieb am Di., 18. Juli 2017 um
16:19 Uhr:

[2017-07-20 08:26] contentacmsbot opened #150 "Travis build #210 failed"
Travis Deployment **#210** failed for branch:[8.x-1.x]
The Travis CI deployment:**#210** failed for the branch:**[8.x-1.x]**.
Build URL: https://travis-ci.org/contentacms/contenta_jsonapi/builds/255566867
Build message: `Broken`
Payload Data: `{"id":255566867,"number":"210","config":{"dist":"trusty","group":"edge","language":"php","addons":{"chrome":"stable"},"php":[7.1,5.6],"notifications":{"webh

[2017-07-20 14:33] cjgratacos commented on #150
Closing Since this build failed comes from a PR. The project enforces that PR need successful Travis build before merging. It is a required dependency.

[2017-07-20 14:33] #150 closed, assigned to nobody

[2017-07-20 20:21] contentacmsbot opened #152 "Travis build #211 failed"
Travis Deployment **#211** failed for branch:[8.x-1.x]
The Travis CI deployment:**#211** failed for the branch:**[8.x-1.x]**.
Build URL: https://travis-ci.org/contentacms/contenta_jsonapi/builds/255809248
Build message: `Broken`
Payload Data: `{"id":255809248,"number":"211","config":{"dist":"trusty","group":"edge","language":"php","addons":{"chrome":"stable"},"php":[7.1,5.6],"notifications":{"webh

[2017-07-21 00:34] cjgratacos commented on #152
Closing, fixed issue on the Github Issue Creator. Filtering, build type on pull_request disables the issue generator.

[2017-07-21 00:34] #152 closed, assigned to cjgratacos

[2017-07-21 00:36] cjgratacos commented on #135
@dawehner That is actually a good idea. Is the datetime range module is on alpha, beta, eap?

[2017-07-21 12:19] dawehner commented on #135
I think its in beta right now.

[2017-07-21 12:32] contentacmsbot opened #153 "Travis build #212 failed"
Travis Deployment **#212** failed for branch:[8.x-1.x]
The Travis CI deployment:**#212** failed for the branch:**[8.x-1.x]**.
Build URL: https://travis-ci.org/contentacms/contenta_jsonapi/builds/256034583
Build message: `Broken`
Payload Data: `{"id":256034583,"number":"212","config":{"dist":"trusty","group":"edge","language":"php","addons":{"chrome":"stable"},"php":[7.1,5.6],"notifications":{"webh

[2017-07-21 12:39] contentacmsbot opened #154 "Travis build #214 failed"
Travis Deployment **#214** failed for branch:[8.x-1.x]
The Travis CI deployment:**#214** failed for the branch:**[8.x-1.x]**.
Build URL: https://travis-ci.org/contentacms/contenta_jsonapi/builds/256036646
Build message: `Broken`
Payload Data: `{"id":256036646,"number":"214","config":{"dist":"trusty","group":"edge","language":"php","addons":{"chrome":"stable"},"php":[7.1,5.6],"notifications":{"webh

[2017-07-21 15:22] cjgratacos commented on #154
Closing, duplicate issue, same as #153

[2017-07-21 15:22] #154 closed, assigned to cjgratacos

[2017-07-22 12:15] NikLP commented on #134
I have a big problem with this, and I have to say I think the Materialize (/Admin) themes are to blame. They're simply too "big". I am sitting by a 12" X220 and I have what I would call "two business objects" on screen - really maybe only one. While these themes might follow the Material design process, they simply don't feel right for this project IMO, there's way WAY too much whitespace.
See ![m

[2017-07-22 14:06] e0ipso commented on #134
Can you elaborate on that?

[2017-07-22 14:08] NikLP commented on #134
Because of the whitespace! This project is predominantly about data input and content listings, both of which require "all the things on the screen" and there's just nothing meaningful on mine...

[2017-07-22 14:09] e0ipso commented on #134
I'm not familiar with that device. Is that a tablet? In any case I think a screen that small will always fit less items. Have you tried in other devices?

[2017-07-22 14:11] e0ipso commented on #134
I'll let the experts speak about this, but I think the white space is important for touch devices.

[2017-07-22 14:18] NikLP commented on #134
It's a 12" laptop, with same resolution as most other screens of about 12/13.3/14 inches. Attached screenshot shows ONE meaningful line of content on screen. It's not right.

[2017-07-23 09:21] justafish opened #158 "Add an API version number to the response"
I know that being able to serve two different versions of the API from the same site is really hard because of content model changes, but a string in the header saying which version of the API is currently active would be really useful. This way I could build a consumer to support both APIs simultaneously if there's a major change in the API pending (using a dev server to test the new API and prod

[2017-07-24 05:12] e0ipso commented on #138
A first (in progress) attempt is in https://github.com/contentacms/contenta_jsonapi/pull/159.

[2017-07-24 10:17] e0ipso commented on #158
Would this be something that is maintained manually? Maybe just a config option that is exposed in API responses?

[2017-07-24 10:18] e0ipso commented on #158
I think that this could be implemented fairly easily with a response subscriber.

[2017-07-24 12:28] cjgratacos commented on #138
Working on it

[2017-07-24 14:31] wimleers commented on #158
Related: https://www.drupal.org/node/2813311

[2017-07-26 14:15] #153 closed, assigned to cjgratacos

[2017-07-26 17:46] mdonadio opened #160 "Wrong Server URLs in /admin/api"
I am seeing two problems with the Server URLs for the endpoints listed in the `admin/api` path:

<img src="https://user-images.githubusercontent.com/17067417/28635292-0bd63fa8-7208-11e7-9fa1-8a972ab60fa6.png">

In this case

http://kb.example.com/jsonapi/api/files

should be

https://kb.example.com/api/files

1.  This particular server is HTTPS, but the sample path us HTTP
2.  'jsonapi' is being a

[2017-07-26 19:48] e0ipso commented on #160
Good catch! Please open a bug report against the Open API module.

[2017-07-26 20:22] mdonadio commented on #160
Upstream issue, https://www.drupal.org/node/2897665

[2017-07-26 20:22] #160 closed, assigned to nobody

[2017-07-27 01:15] briancwald commented on #59
What do you need me to do? Happy to focus material admin efforts on anything that improved authoring.

[2017-07-27 10:52] fubhy commented on #101
Voyager has been merged.

[2017-08-01 07:25] larowlan opened #162 "Create backend example for https://github.com/gothinkster/realworld"
Worth adding a Drupal backend example for https://github.com/gothinkster/realworld?

Spec is here https://github.com/gothinkster/realworld/tree/master/api

[2017-08-01 10:30] dawehner commented on #162
Thank you for the idea. We had a similar discussion before, see https://github.com/contentacms/contenta_jsonapi/issues/95 but its tricky, given that realworld defines how the API has to work, which, well, is tricky in Drupal.

[2017-08-01 10:30] #162 closed, assigned to nobody

[2017-08-01 10:31] dawehner commented on #85
This module exists now in the form of [snail](https://www.drupal.org/project/snail) module.

[2017-08-01 10:31] #85 closed, assigned to dawehner

[2017-08-01 10:32] dawehner commented on #76
Thank you for reporting @chris-hamper
We have solved the issue with the PR, so I'm closing the issue now.

[2017-08-01 10:32] #76 closed, assigned to nobody

[2017-08-01 13:22] mherchel opened #163 "Unable to install via composer: Fatal error: Allowed memory size of 1073741824 bytes exhausted"
I have my command line PHP set to 1024M, and I'm getting errors. I can continue upping it, but IMHO 1024 is already abnormally high. Is there anything I can do differently?

[code]

[2017-08-01 23:54] larowlan commented on #162
thanks, sorry I didn't search first

[2017-08-02 16:58] cjgratacos commented on #163
@mherchel which PHP version are you using?

_Sent from my Lge LG-H918 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 19:47] mherchel commented on #163
@cjgratacos Command line PHP is 5.5.26.

[2017-08-03 13:14] cjgratacos commented on #163
@mherchel thanks, I have seen that happen before, it is caused by the composer infinite chain of dependency in one of the packages and a PHP 5.x memory issue. A way to resolve it is by changing the `memory_limit` field to `-1` in the `php.ini` while composer is installs, after it is done you can revert it back to the old value.

[2017-08-04 15:35] seanr opened #165 "Failing test"
Getting the following in my CircleCI tests:

[code]

If this has already been addressed, I apologize, but I didn't find anything here that seemed related.

[2017-08-05 12:49] mherchel commented on #163
FWIW I did a `composer self-update` as well as change my command line PHP to 7.0.something, and I was able to get it installed.

[2017-08-05 12:49] #163 closed, assigned to nobody

[2017-08-09 14:20] dawehner commented on #138
At least for me point 1) and point 2) are quite week, but yeah we probably don't need to test user interfaces right now. ... In case we do though, I think nightwatch is a better tool than what we have to offer on the PHP site.

[2017-08-09 14:33] e0ipso commented on #138
All in agreement I think.

I agree that Nightwatch is better than the PHP-only equivalent. However in order to test APIs we don't need a browser, in fact we should avoid a browser.

[2017-08-09 14:37] dawehner commented on #138
I agree that using a browser for APIs is weird. I'm wondering whether we
can keep nightwatch and use it for testing the API docs UI, which is IMHO
by far the most important one we have. Personally I would love to keep
nightwatch around to collect experience for further usage in core. What do
you think about this compromise?

* I had a look at the build times, and it seems to mostly general stuff
w

[2017-08-09 14:38] dawehner commented on #158
@justafish @e0ipso  @wimleers
What do you think is the right project to add these hard coded API numbers? It could be for example jsonapi_extras ... but it feels like contenta is not only the easier option, its also the place which has enough business knowledge to make reasonable API versioning number decisions.

[2017-08-09 14:44] e0ipso commented on #158
Maybe the API version could be a substring of an MD5 of the site configuration. While everything stays the same, the version stays the same.

To make it fancier we could have some sort of exclude logic that uses site-level information to avoid unnecessary version bumps.

[2017-08-09 14:45] dawehner commented on #134
I'm wondering whether we could leverage the layout component, see https://getmdl.io/components/#layout-section/layout

[2017-08-09 15:00] dawehner commented on #158
What about just taking into account entity/field/jsonapi configuration?

[2017-08-09 15:20] e0ipso commented on #158
I think that many things can potentially come into play that are hard to anticipate: image styles, text formatters, …

But if we can pin it down to a fixed set, that is even better.

[2017-08-09 15:28] dawehner commented on #158
As first step its indeed sufficient to use a sha256 hash of all the
configuration.

Mateu Aguiló Bosch <notifications@github.com> schrieb am Mi., 9. Aug. 2017
um 16:20 Uhr:

[2017-08-12 13:23] justafish commented on #158
A number is preferable, because I can't do comparisons on md5 hashes in my consumer. I can't say "if version is less than x, do this API call, otherwise do y"

[2017-08-12 16:03] e0ipso commented on #158
The idea would be to use the hash to automatically increment the version number if said hash is different than the previous one.

[2017-08-13 21:14] justafish commented on #158
sounds good! 👍

[2017-08-18 02:08] GustavoMarcante commented on #118
Another possible approach to that would be:

5. To offer boilerplate front-end applications (probably in JavaScript) that could be a reference to start. More or less how [CosmicJS](https://cosmicjs.com/apps) does.

[2017-08-18 20:23] e0ipso commented on #138
Closed in favor of https://github.com/contentacms/contenta_jsonapi/pull/164

[2017-08-18 20:23] #138 closed, assigned to cjgratacos

[2017-08-26 06:56] yann-yinn opened #175 "Change Contenta theme colors"
Hello !
Default colors from the theme are pretty dark and a little bit sad. A graphist friend of mine ( @FlorisMoriceau ), suggested this design change for the colors : he uses the logo color for the header and a lighter background,  I find this color palette more engaging, what do you think about it ?

Actual :
<img width="750" alt="contenta-colors" src="https://user-images.githubusercontent.com/

[2017-08-26 08:34] e0ipso commented on #175
Paging @ckrina for an opinion on this.

[2017-08-26 13:46] yann-yinn opened #176 "Cleaning after installation"
Hello ! just for information, I installed contenta CMS following this process : https://yineo.fr/blog/en-how-to-install-contenta-cms-on-pantheon-with-terminus

I then reverted my Drupal uninstalling two contenta modules but it left :
- 197 articles ( that's quite big)
- and dozens of tags  ( not sure it was mentionned by the revert instructions)
- a field recipes inside "articles" content type
- i

[2017-08-26 15:43] ckrina commented on #175
Thanks @e0ipso :)
I totally agree with @nyl-auster and @FlorisMoriceau about the the "sad" perception of the interface: I think everything is a bit dark, and also the greys are too green. On this screenshot the page looks much more cleaner.
But I'm not sure if I'd use the bright blue on the header. This color was picked to be the primary button color in forms so it could stand out among the other

[2017-08-26 16:31] e0ipso commented on #175
FYI this is the **current** look of Contenta: http://cms.contentacms.io and http://cms-dev.contentacms.io

[2017-08-26 23:06] yann-yinn commented on #175
@e0ipso it's nice ! this is not the one i saw when installing contenta following this process ,do you know why ? https://yineo.fr/blog/en-how-to-install-contenta-cms-on-pantheon-with-terminus

[2017-08-27 11:28] e0ipso commented on #175
@nyl-auster I believe that Pantheon is fixed to an old commit.

Maybe @greg-1-anderson can clarify.

[2017-08-27 11:48] yann-yinn commented on #176
this might be related to my pantheon installation ( process: https://yineo.fr/blog/en-how-to-install-contenta-cms-on-pantheon-with-terminus ) which might be from an old commit, see here : https://github.com/contentacms/contenta_jsonapi/issues/175

[2017-08-27 11:53] yann-yinn commented on #175
@e0ipso you're right, from a fresh install i got this , so i am closing this issue
<img width="1396" alt="capture d ecran 2017-08-27 a 13 59 06" src="https://user-images.githubusercontent.com/335495/29749548-146a90f2-8b2f-11e7-95c7-c5a8b04071ba.png">

[2017-08-27 11:53] #175 closed, assigned to nobody

[2017-08-27 12:05] yann-yinn commented on #176
this was related to pantheon installation with terminus build too, closing

[2017-08-27 12:05] #176 closed, assigned to nobody

[2017-08-27 12:13] yann-yinn opened #177 "Remove "display settings" and "menu settings" when creating a content model ?"
Some configuration for content types became irrelevant when using contenta, maybe just add a warning or something ?

<img width="1336" alt="capture d ecran 2017-08-27 a 14 17 26" src="https://user-images.githubusercontent.com/335495/29749672-b9932b46-8b31-11e7-9356-cad3699c65c3.png">

[2017-08-27 18:28] suzi commented on #100
I think this can be closed - we have the basics per: https://github.com/contentacms/contenta_jsonapi/pull/161

[2017-08-28 08:54] yann-yinn opened #178 "suggestion : bigger text-area for the content field"
Hello ! Migrating my blog to contenta, i noticed "body" text area is very little in the back-office.
_(PS : i tried to change rows for body field without success, maybe a css override ?)_
Contenta is "all about the content", so it could be interesting to get closer of medium or wordpress concerning the content textarea, see screenshots. Because this is probably where content editors spend most of

[2017-08-28 18:00] greg-1-anderson commented on #175
I couldn't read the blog above - got a server error when I clicked on the link.

The Pantheon experimental Contenta installation project is pinned to [dev-8.x-1.x](https://github.com/pantheon-systems/example-drops-8-composer/blob/contenta/composer.json#L20). I'd be happy to change that to something else if there's a more appropriate version constraint now.

[2017-08-28 18:05] yann-yinn commented on #175
@greg-1-anderson yes i unpublished my blog post because i would not recommend this version of contenta ( as i opened 3 issues for things that have been resolved in current contenta version)

[2017-08-28 18:20] greg-1-anderson commented on #175
What is the "current contenta version", though? It looks to me as is 8.x-1.x is still the appropriate branch for dev releases?  Maybe you installed the dev version a while ago? If so, you might simply need to update your site. Use `composer update` on a local working copy of your site's GitHub repository.

It would be helpful if there were SemVer release tags for the contenta distribution.

[2017-08-28 19:19] yann-yinn commented on #175
@greg-1-anderson

I dont know about the versions ( cc @e0ipso ), just for information :

this is the command I ran this week-end with terminus
[code]

And then i ran this command in my localhost to reinstall it from scratch
[code]

[2017-08-28 19:48] greg-1-anderson commented on #175
Not sure if this is what you were trying to say, but that second command is not an appropriate way to update a Pantheon Contenta site. You could use that `composer create-project` to create a non-Pantheon Contenta site for local use. To update a site created with `terminus build:project:create`, use `composer update`.

[2017-08-28 20:02] yann-yinn commented on #175
@greg-1-anderson

I used the _first command_ to create automatically a pantheon site. And that works very well but it gave me the first screenshot from this issue, and i was missing some modules ( snail ). **I dit not try** to update the pantheon site at this point, because, well, it was freshly installed. I told myself that maybe terminus must have built something from an outdated contenta releas

[2017-08-28 20:09] greg-1-anderson commented on #175
I would think those two commands should give you about the same Contenta, given that you ran them at the same time. Maybe add `--stability dev` to the Terminus command, as you have in the `composer create-project` command? That could explain some differences in project versions.

[2017-08-28 22:58] dawehner commented on #178
I like to increase the size. Maybe we could fix it in materialized itself.

On Mon, 28 Aug 2017, 09:54 Yann <notifications@github.com> wrote:

[2017-08-28 22:58] dawehner commented on #100
<3

On Sun, 27 Aug 2017, 19:28 suzi <notifications@github.com> wrote:

[2017-08-29 23:46] dawehner commented on #177
Good idea!

What would be a good place to strip away configurations you don't need on a decouple site? Maybe a new module like a ```decouplifier```?

[2017-08-29 23:46] #100 closed, assigned to nobody

[2017-08-30 05:07] e0ipso commented on #177
I think that'd be awesome. It's going to be a big challenge in a CMS so flexible because both blacklisting and whitelisting will require constant maintenance (think about a module you didn't know about).

Any ideas how to deal with that?

[2017-08-30 05:15] e0ipso commented on #178
I created an issue in the admin theme project: https://github.com/briancwald/material_admin/issues/35

[2017-08-30 05:42] e0ipso commented on #175
@greg-1-anderson can this be related to `composer.lock` using an old version?

https://github.com/pantheon-systems/example-drops-8-composer/commit/c6ab421dd1757dc8386aef66907bfe79e42bfbbf#diff-1da2c7edc898c70e5a79a9997c98ceccR392

[2017-08-30 10:35] yann-yinn commented on #177
and should we remove it totally ? not sure about that, what if, for whatever reason, you want to use one part of Drupal 'as it is for' some part of your site ?

@e0ipso we can just care about the core, maybe that's better than nothing. Just to make it clear that those settings have no effects on JSON output.

[2017-08-30 13:07] briancwald commented on #178
@nyl-auster do you mean expanding the width or height? The height is dynamic and as you add content the box will expand automatically. This is the spec defined in Material Design. The problem is that there are a lot of uses for the generic textarea, and you wouldnt want them all to be that big, but I can see how you would want that in this case. Perhaps we can create a special one-off for this.  F

[2017-08-30 13:29] yann-yinn commented on #178
@briancwald it was not listening to the columns set in my test, manually set the size would be perfectly okay ! A tiny box on the left of the screen ( first screenshot ) does not feels right when writing a post or an article.

[2017-08-30 16:26] greg-1-anderson commented on #175
Yeah, makes sense. `composer update` will fix that.

[2017-08-30 17:48] e0ipso commented on #175
@nyl-auster can you try that and see if it works? Maybe you can re-post the article after that.

[2017-08-30 20:00] yann-yinn commented on #175
@e0ipso sorry i already deleted this site. But i guess i can just add "composer update" to my blog post ?

[2017-08-30 20:37] greg-1-anderson commented on #175
I'll remove the composer.lock file from the PR

[2017-08-30 20:41] greg-1-anderson commented on #175
Done; tests are running at https://github.com/pantheon-systems/example-drops-8-composer/pull/93

[2017-09-03 15:51] cmoeser commented on #123
Experiencing the same issue 9/3 when trying to install via composer.
Windows 8
IIS 6.2
MySQL 6.2

[2017-09-04 11:04] dawehner commented on #177
Aren't the menu settings actually for example potentially useful? I could
imagine that people maybe would see an advantage in controlling the menu as
an editor? Of course this should be an opt in feature for some frontends
but I could see it to be useful.

Yann <notifications@github.com> schrieb am Mi., 30. Aug. 2017 um 11:35 Uhr:

[2017-09-04 12:17] yann-yinn commented on #177
@dawehner yep you're right, menu can be used from the consumer ...

[2017-09-19 21:23] e0ipso opened #187 "Gather content for the Knowledge Hub (/help/tutorials) page"
We want to have an initial list of links with the following information:

  - [ ] Title (required).
  - [ ] Description (required).
  - [ ] Link (required).
  - [ ] Image (optional).

[2017-09-19 21:28] e0ipso commented on #187
Example:

Title | Description | Link | Image URL
-----|------------|------|-----------
The Hidden Costs of Decoupling | Decoupled Drupal has been well understood at a technical level for many years now. While the implementation details vary, most Drupal teams can handle working on decoupled projects. However, we’ve heard the following from many of our clients | https://www.lullabot.com/articles/th

[2017-09-19 21:29] e0ipso opened #188 "Design default image for tutorials without image"
Some tutorials in the knowledge page will not have an image URL. In those cases Contenta should have a default image to show.

Related to: https://github.com/contentacms/contenta_jsonapi/issues/187

[2017-09-19 21:31] e0ipso opened #189 "Add tutorials to the default content migration"
We need to add the content gathered in https://github.com/contentacms/contenta_jsonapi/issues/188 to the default content migration.

  - See https://github.com/contentacms/contenta_jsonapi/blob/8.x-1.x/modules/recipes_magazin_contenta/default_content/tutorial.csv for the existing tutorials.
  - See https://github.com/contentacms/contenta_jsonapi/pull/193 as an example PR on how to add the tutorial

[2017-09-19 21:32] e0ipso commented on #189
See https://github.com/contentacms/contenta_jsonapi/blob/8.x-1.x/modules/recipes_magazin_contenta/default_content/tutorial.csv for the existing tutorials.

[2017-09-21 17:39] MatthieuScarset opened #190 "Debug: Key file "file://" permissions are not correct, should be 600 or 660 instead of 555 in League\OAuth2\Server\CryptKey->__construct() (line 56 vendor/league/oauth2-server/src/CryptKey.php)"
Hi, I have a warning right after a fresh install of Contenta.

[code]

My `composer show` shows that I am using the latest version: `league/oauth2-server 6.0.2`

[2017-09-22 16:36] sebas5384 commented on #190
We are having same issue over here, and is giving that error in Acquia Cloud too.

[2017-09-22 17:29] e0ipso commented on #190
Please check the configuration steps in http://cms.contentacms.io/help/tutorials?field_topic_value=OAuth2

If that doesn't fix your issue, comment back and I'll reopen the ticket.

[2017-09-22 17:29] #190 closed, assigned to nobody

[2017-09-28 19:31] MatthieuScarset commented on #190
For the lazy ones who want to know what need to be done, you can see here too:
https://github.com/MatthieuScarset/matt-back-drupal/blob/dev/certificates/README.md

[2017-10-01 14:30] tarekdj opened #194 "What's the status of GraphQL integration?"
Hi,
I'm wondering what's the plan/status of GraphQL integration. I can' find any relevant doc or discussion.
I would like to give help on it.

Thanks!

[2017-10-01 14:33] e0ipso commented on #194
Please continue the discussion in https://github.com/contentacms/contenta_jsonapi/issues/101.

Thanks!

[2017-10-01 14:33] #194 closed, assigned to nobody

[2017-10-01 14:53] tarekdj commented on #101
So what's the plan for GraphQL integration? And how can I help?

[2017-10-02 07:57] pixelmord commented on #101
Hi, I got totally blocked by client work and will be until late november. So far I did nothing but a custom module that requires GraphQL and its submodules and added that to the contenta profile. So basically nothing much more that anybody would do to switch on GraphQL....
In my mind the roadmap would be sth like this:
* select the minimum of the submodules that would be needed to get feature pari

[2017-10-02 10:22] tarekdj commented on #101
Clear! Thank you @pixelmord !

[2017-10-02 10:24] e0ipso commented on #101
One of the things I'd like to come out of this investigation is if we can have a zero-config GraphQL server for our entity system. Much like jsonapi is zero-configuration.

[2017-10-02 10:29] tarekdj commented on #101
@e0ipso sounds good for me

[2017-10-02 22:04] tarekdj commented on #101
#195 Ready for review

[2017-10-03 20:57] spoetnik opened #196 "Oauth2Client' not found"
Installed Contenta with:
`composer create-project contentacms/contenta-jsonapi-project contenta --stability dev --no-interaction`
After installation, navigating to API -> Authentication (/admin/api/authentication)
results in an error:
[code]

[2017-10-06 18:28] eojthebrave commented on #187
What kind of information/tutorials are you hoping to include in the knowledge hub?

[2017-10-08 13:39] e0ipso commented on #187
I think that any resource that can help clarify concepts about decoupled Drupal projects for agencies or freelancers.

I think that either technical, project manager (specific to decoupled Drupal projects), sales and estimation, etc. all make sense.

[2017-10-09 17:02] tarekdj commented on #101
@e0ipso any update on #195 ?

[2017-10-10 13:56] e0ipso commented on #101
@tarekdj still some work to do. Please check the comments there.

[2017-10-10 14:07] tarekdj commented on #101
@e0ipso thanks for the review. I understand your point and I update PR soon.
Thanks

[2017-10-10 23:35] budda commented on #135
Datetime range module now part of 8.4 as a stable but experimental release.
https://www.drupal.org/node/2893128#comment-12176768

is this now a non-issue?

[2017-10-11 08:48] dawehner commented on #135
I would say so?
@budda In general do you want to try updating contenta to 8.4? This would be amazing!

[2017-10-11 11:14] budda commented on #135
Hah - nice delegation 😄

I've heard of the pains moving to Drupal 8.I over the past week. Not sure
I'm ready for it just yet.
On Wed, 11 Oct 2017 at 09:48, Daniel Wehner <notifications@github.com>
wrote:

[2017-10-11 11:18] budda commented on #135
Hah - nice delegation 😄

I've heard of the pains moving to Drupal 8.4 over the past week. Not sure
I'm ready for it just yet.

[2017-10-11 18:39] MatthieuScarset opened #197 "Exception raised on front if media_entity module is disabled"
Issue:
It is not possible to use `contenta_enhancements` module if you do not enable `media_entity` because a link is added in the toolbar but it uses a non-existing route (`view.media.media_page_list`).

Instead of adding `media_entity` as a dependency, it would be better to allow users to disable the `media_entity` module and still `use content_enhancements`.

Proposed solution:
Test if `media_e

[2017-10-11 18:43] MatthieuScarset commented on #197
PR here: https://github.com/contentacms/contenta_jsonapi/pull/198

[2017-10-12 20:26] recidive opened #199 "Stack Cors patches don't apply anymore"
As of today, I'm seeing this error when installing contenta via composer:

[code]

[2017-10-13 14:20] MatthieuScarset commented on #199
I do too

[2017-10-13 14:46] dawehner commented on #199
Oh is this because you are running a more up to date version of the upstream library?

[2017-10-16 13:43] sebas5384 commented on #199
@dawehner are you saying as a dependency of Contenta? if it is, then should we lock the version at the composer.json (of Contenta) till those patches are updated?

[2017-10-16 14:26] recidive commented on #199
@dawehner yes, since drupal core doesn't add composer.lock to the repository and doesn't lock that library on a specific version, any time you install contenta it will install the latest version of the library along with drupal core, and the patches are not applying in the latest version.

[2017-10-16 14:45] sebas5384 opened #201 "Media Entity module in 8.4 is part of the core"
See https://www.drupal.org/project/media_entity on the **Compatibility restrictions** part.

We are having some errors given the media and media_entity are enabled:

[code]

[code]

How should we deal with this situation, since older versions of Drupal 8 are going to need the media_entity module.

For now we are just disabling:
- media_entity
- media_entity_image
- media_entity_browser

[2017-10-16 14:56] recidive commented on #199
Here is the install log with details on the library version:

[code]

[2017-10-17 10:55] novia713 opened #202 "documentation"
¿is available some method to document the API in Contenta?
¿would be possible install something like http://apidocjs.com?

[2017-10-17 15:12] dawehner commented on #202
@novia713 At least for me the most important APIs are the HTTP apis we expose.
I'm curious, what is your usecase to need to know more of the HTTP apis?

Also, how hard is it to setup something like apidocjs.com? I guess we could just put it on now.sh or so and call it a day?

[2017-10-17 15:43] novia713 commented on #202
well, all i need is to document the API i'm building, @dawehner
regarding my first question, i only wished to know is there was in Contenta some type of integration with PHP API Documentors (like Swagger-PHP). only that.
I know how to set up swagger or apidocjs, but thanks for the hint  ^^

[2017-10-17 19:34] e0ipso commented on #202
@novia713 I think this is what you're looking for: http://cms.contentacms.io/admin/api

It comes with Contenta CMS by default. I believe it's communicated in different places. Did you find the documentation hard to find?

[2017-10-18 09:21] novia713 commented on #202
oh, yes, @e0ipso
i opened the issue before checking that API section in admin part.
i believe this is enough.
my apologies.

[2017-10-18 09:21] #202 closed, assigned to nobody

[2017-10-18 09:23] e0ipso commented on #202
No need to apologize. Just making sure we don't have a UX problem to help discover that feature

[2017-10-18 09:28] novia713 commented on #202
no, just i've opened my big mouth before checking well the site :-)

[2017-10-19 13:25] recidive commented on #63
Hello @wimleers we found also that fields disabled in jsonapi_extras are still showing up in openapi docs. Is there an issue for this yet? I'm not sure where to look to try to fix this.

Thanks!

[2017-10-19 13:42] e0ipso commented on #63
@recidive @wimleers that issue has been addressed. Please update your thingies. :-)

[2017-10-20 02:55] kepford commented on #187
Here are some decoupled related blog posts worth considering

| Title | Description	| Link                                                                                   | Image URL  |
|-----------------------------------------------------------------------|-------------|----------------------------------------------------------------------------------------|------------|
| 4 Benefits of decoup

[2017-10-23 08:46] fubhy commented on #101
We are done with most of our refactoring now and simplified the module drastically. We deprecated a lot of the submodules and made the module zero-config by default. We are adding a new configuration screen with optional configuration to fine-tune and narrow down the schema later but that won't affect the module's API anymore. You should be good to go now. I am publishing 8.x-1.0-alpha-8 as I am w

[2017-10-23 16:40] novia713 opened #206 "client_id"
sorry for the ingenuity, but i'm trying to get the password grant, so how i get my `client_id` token, given as a user i only know my username and password?

sorry if it is explained somewhere, but i can not find it :-|

[2017-10-25 14:00] wimleers commented on #101
I met with @fubhy and @pmelab at DrupalCon Vienna. We discussed my criticism/feedback that the GraphQL module needed to become simpler. Because for:
- this to be usable by Drupal users that aren't experts
- this to eventually be committable to Drupal core
- this to be maintainable

this simplification was IMHO essential. (See https://github.com/acquia/reservoir/issues/59#issuecomment-324988045 for

[2017-10-25 20:15] woprrr commented on #201
We need to Check all listed errors but you have enabled media and media_entity in same Time ?

[2017-10-25 20:24] dawehner commented on #201
As far as I understand Drupal 8.4. does not recommend yet to use media, as the contrib space is not updated fully yet.

[2017-10-29 21:15] e0ipso commented on #206
@novia713 please see http://cms.contentacms.io/help/tutorials?field_topic_value=OAuth2

[2017-10-29 21:15] #206 closed, assigned to nobody

[2017-10-29 21:19] e0ipso commented on #199
What's the solution here? I see 2 possible options:

👍  Have a more restrictive locking of the library in Contenta's `compose.json`
❤️  Have a loose version and let the patch fail when needed.

Votes?

[2017-10-29 21:20] e0ipso commented on #197
PR was merged.

Thanks!

[2017-10-29 21:20] #197 closed, assigned to nobody

[2017-10-29 21:36] #196 closed, assigned to nobody

[2017-10-29 21:36] e0ipso commented on #196
Thanks @spoetnik! This is fixed now.

[2017-10-29 22:11] e0ipso commented on #187
Thanks @kepford! I added the articles. I omitted one about Ember to avoid repetition, but everything else went it.

[2017-10-29 23:22] dawehner commented on #199
I think the best approach would be to update stack-cors to the latest version, lock it, and then provide patches which apply again, if needed inside the distribution itself.

[2017-11-01 03:06] magick93 opened #210 "Problems installing"
Hello

I am trying to install contenta on OpenShift. To do this I use a custom s2i docker image (source-to-image) that is designed for taking a drupal git repository and making a docker image. This image is working successfully for OpenSocial and Lightning drupal distrubutions.

However, when I use this repository as the source, then try to install, the installation fails.

Firstly I tried with dr

[2017-11-01 06:37] e0ipso commented on #210
Please take a look at the install script described in contentacms.org.

I suspect that your problem is that you did not navigate to `cd web/`.

Feel free to re-open if this was not the issue.

[2017-11-01 07:07] magick93 commented on #210
Yes I did also try to run `drush -y -v site-install --db-url=$DB_VENDOR://$DB_USER:$DB_PASS@$DB_HOST/$DB_DATABASE` from the `web` dir but got the same result.

I also had a look at the install script. I tried also to run `composer run-script install-contenta . ` but it complained about the directory not being empty, so it will not work with our deployment process.

Is it not possible to use drush

[2017-11-01 09:36] e0ipso commented on #210
Can you post the working directory where you are executing the drush command?

[2017-11-01 09:37] e0ipso commented on #210
I am also noticing that you are missing the Contenta_jsonapi profile. It seems you are using standard?

[2017-11-01 18:43] magick93 commented on #210
I have tried from both the `web` and its parent directory to run `drush -y -v site-install --db-url=$DB_VENDOR://$DB_USER:$DB_PASS@$DB_HOST/$DB_DATABASE`

I am pulling this repository, so, yes, Contenta_jsonapi profile is present.

[code]

[2017-11-01 21:11] magick93 commented on #210
Another example, again from the `web` directory:

[code]

[2017-11-02 01:58] dawehner commented on #210
@magick93 Can you try the drush inside the vendor directory so:

[code]

Maybe this solves the problem?

[2017-11-02 02:08] magick93 commented on #210
I also tried this in the `vendor` and the `bin` directories and had the same result.

[2017-11-02 02:24] dawehner commented on #210
@magick93 sorry for the stupid question ... Did you tried using -vvv, maybe it includes more information

[2017-11-02 02:52] magick93 commented on #210
Good point - I had forgotten to do that.

[code]

[2017-11-02 08:26] dawehner commented on #210
What is the reason that you are using the global install drush. Can you
please try ../vendor as in the example above?

On Thu, 2 Nov 2017, 02:53 magick93, <notifications@github.com> wrote:

[2017-11-03 11:27] Ruslan03492 opened #211 "How to install contenta_jsonapi with drush si without demo content"
How to install contenta_jsonapi with drush si without demo content?
I am try use `drush si contenta_jsonapi --include-recipes-magazin=0` but have error.

[2017-11-03 11:37] Ruslan03492 commented on #211
I found a solution `install_configure_form.include_recipes_magazin=0`

[2017-11-03 11:37] #211 closed, assigned to nobody

[2017-11-05 09:05] e0ipso opened #212 "Allow querying redirections"
A decoupled site may want to be able to support redirections of old URLs in a given content page.

A suggested solution is to provide a custom endpoint that takes a URL and returns either:

  - a 404.
  - the current canonical URL for that.

That should query both the URL aliases and the [redirect](https://www.drupal.org/project/redirect) module.

[2017-11-05 09:37] dawehner commented on #212
Isn't that exactly what the redirect module is doing? It uses entities, so everything is queryable

[2017-11-05 10:17] e0ipso commented on #212
My wish is to have that with URL aliases as well in the same resource.

[2017-11-06 00:22] magick93 commented on #210
When I try using the `../vendor` example above I get;

[code]

[2017-11-06 00:26] dawehner commented on #212
Why do you not make an entity reference then? The only missing bit is a
nice widget then

On Sun, 5 Nov 2017, 10:17 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-11-06 06:43] e0ipso commented on #212
That sounds interesting. Although I don't think I got it.

A simplified version of what I think it's most useful is that a query to `https://cms.contentacms.io/api/redirects?filter[…]=/foo/bar` returns `{ … "/node/75" … }`. This endpoint will return exactly the same if `/foo/bar` is a redirect or a URL alias.

Is that what you're thinking too?

[2017-11-06 09:42] tarekdj opened #213 "Fix failing tests on travis ci"
All tests on Travis are failing because of :
[code]

[2017-11-06 09:58] e0ipso commented on #213
Fixed by #214.

[2017-11-06 09:58] #213 closed, assigned to tarekdj

[2017-11-06 18:38] shawnachieve opened #215 "Composer install fails due to errors downloading dependencies."
When setting up a new contentacms via composer, the composer install fails with the following errors:

Steps to reproduce:
[code]

[2017-11-07 14:27] cjgratacos commented on #215
@shawnachieve can you please give a bit of more context on the environment which you are using: OS, PHP Mods enabled, PHP Version, etc. Thanks in advance

[2017-11-07 16:22] shawnachieve commented on #215
OS: Mac OS 10.12.6
PHP: 7.1.8
Composer: 1.4.2

My local PHP install is pretty minimal as I use vagrant VMs for the actual code execution.  I generally only run php/composer commands locally to install/update Drupal core and contrib modules.

[2017-11-07 21:59] e0ipso commented on #188
fixed

[2017-11-07 21:59] #188 closed, assigned to nobody

[2017-11-07 22:00] e0ipso commented on #189
fixed

[2017-11-07 22:00] #189 closed, assigned to nobody

[2017-11-07 22:00] e0ipso commented on #165
tests are green now.

[2017-11-07 22:00] #165 closed, assigned to nobody

[2017-11-07 22:01] e0ipso commented on #187
I think this was of great help.

[2017-11-07 22:01] #187 closed, assigned to nobody

[2017-11-07 22:01] e0ipso commented on #113
Done

[2017-11-07 22:01] #113 closed, assigned to nobody

[2017-11-07 22:03] e0ipso commented on #99
👏 done

[2017-11-07 22:03] #99 closed, assigned to nobody

[2017-11-07 22:04] e0ipso commented on #103
That looks like a nice resolution.

[2017-11-07 22:04] #103 closed, assigned to nobody

[2017-11-07 22:05] e0ipso commented on #112
This was done.

[2017-11-07 22:05] #112 closed, assigned to nobody

[2017-11-07 22:09] e0ipso commented on #127
I'm leaning towards closing this one. This is a common problem with subdir installs in Drupal, not necessarily a Contenta issue.

Please, request a reopen if you think that Contenta should include pathologic by default to avoid this.

[2017-11-07 22:09] #127 closed, assigned to nobody

[2017-11-07 22:11] e0ipso commented on #201
I agree with Daniel here as well. We need to wait a bit more for the media ecosystem.

Feel free to request a re-open.

[2017-11-07 22:11] #201 closed, assigned to nobody

[2017-11-07 22:12] e0ipso commented on #149
@cjgratacos is this a good candidate for the `help wanted` label?

[2017-11-07 22:15] e0ipso commented on #75
We are still far from this design implementation. I consider this one of our current priorities.

[2017-11-07 22:19] e0ipso opened #216 "Create a nice toggle for JSON API vs GraphQL"
Once GraphQL has been added we want an easy way to turn on/off all the dependencies that make up a:

  - JSON API interface: jsonapi, jsonapi_extras, openapi, schemata, … (maybe contenta_jsonapi?)
  - GraphQL interface: …

I may be crazy to be thinking of the `features` module?

[2017-11-07 23:10] dawehner commented on #216
@e0ipso You can totally uninstall modules when they ship their configuration. Given that we could have a contenta_jsonapi and a contenta_graphql module which ship with all their associated configuration. On top of that we would just need buttons for the modules.

Features doesn't do anything on runtime in D8. It is just a bundler.

[2017-11-07 23:11] dawehner commented on #127
At least Drupal core itself is 100% compatible, given that all its tests
are actually executed against a subdir installation.

Mateu Aguiló Bosch <notifications@github.com> schrieb am Di., 7. Nov. 2017
um 22:09 Uhr:

[2017-11-08 06:03] ymdahi commented on #210
I'm having a similar problem. Ubuntu 16.04, PHP 7.0
I am able to run drush from /web with `../vendor/drush/drush/drush`
I do not have a /vendor/bin folder.

[2017-11-08 09:32] novia713 opened #217 "revision info getting collection"
i'm retrieving data of a collection, but i can't get any data of the field `revision_uid`
the query i'm using is:
[code]
the error is
[code]
am i missing something?

[2017-11-08 09:36] woprrr commented on #201
@dawehner @e0ipso Actually for basics usage like manipulate Image/video I think we can use that in contentacms like lightning ? @see https://www.drupal.org/node/2860796 to follow all media provider states.

If you need I can purpose to test and take feedback about usability and fesability of media in core usage ?

[2017-11-09 14:34] e0ipso commented on #201
That's a great offer @woprrr! Thank you in advance.

[2017-11-09 21:11] e0ipso commented on #216
Right. I was thinking that most of those modules don't ship any configuration. Will that be a problem?

[2017-11-09 21:13] e0ipso commented on #211
Thanks for closing the loop on this one @Ruslan03492.

[2017-11-14 14:45] Ruslan03492 opened #218 "How to no apply patch asm89/stack-cors for drupal 8.4.2"
I am try use "patches-ignore" from "cweagans/composer-patches"  but did not help.

[2017-11-15 12:20] dawehner commented on #218
@Ruslan03492 Do you mind pasting how your ```composer.json``` looked like with using patches-ignore?

[2017-11-15 12:27] dawehner commented on #216
Maybe we could also "just" provide a UI which does the necessary uninstall calls, when we actually need them?

[2017-11-15 16:53] e0ipso commented on #216
cc @cjgratacos since I know you may be onto this now.

[2017-11-15 18:48] MatthieuScarset opened #219 "Warning in /admin/people page"
There is a warning showing everytime one visit the `/admin/people` page.

[code]

This is due to the use of Url object into the translatable element.

We should use `->toString()` method instead.

I am opening a PR to fix that.

[2017-11-15 18:51] dawehner commented on #219
:+1:

On Wed, 15 Nov 2017 at 18:48 Matt <notifications@github.com> wrote:

[2017-11-15 20:55] e0ipso commented on #219
Great! Thanks for the contribution. We can close this one now.

[2017-11-15 20:55] #219 closed, assigned to nobody

[2017-11-16 07:55] Ruslan03492 commented on #218
Try this:
[code]
and
[code]

But I found this [pull](https://github.com/cweagans/composer-patches/pull/118) and applied this code and it work for me

[2017-11-16 07:56] #218 closed, assigned to nobody

[2017-11-24 12:54] dawehner opened #223 "Update to Drupal 8.4.x"
We should update to Drupal 8.4.x, given that 8.3.x is not longer supported

* We will use media in contrib, till core and the ecosystem provides all the necessary tools (probably for 8.5.x)
* #199 You can probably get rid of some of the cors patches now
* We need to reexport some of the configuration probably.

[2017-11-25 16:05] cjgratacos commented on #223
@dawehner I am going to start working on this one, going to ping you for questions 👍

[2017-11-25 19:33] dawehner commented on #223
Totally

Carlos Gratacos <notifications@github.com> schrieb am Sa., 25. Nov. 2017 um
16:05 Uhr:

[2017-11-29 21:13] #212 closed, assigned to nobody

[2017-11-30 03:49] PolywickStudio opened #228 "Install error with non-existent service "simple_oauth.key.generator""
This is with command-line parameters:

On Page4 I get:
![e1](https://user-images.githubusercontent.com/8903532/33412128-7a1ba9ba-d5c4-11e7-9397-3549215f25c5.PNG)

The website encountered an unexpected error. Please try again later.
Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have requested a non-existent service "simple_oauth.key.generator". in Drupal\Component\De

[2017-11-30 10:18] novia713 opened #229 "Can't update with composer"
is this normal? what should i do?

[code]

[2017-11-30 10:26] simesy commented on #229
Add
[code]
into the config section of your composer.json, then run `composer update` again

[2017-11-30 10:29] e0ipso commented on #229
Alternatively you can also run `COMPOSER_DISCARD_CHANGES=1 composer update …` as a one-time-thing.

However it seems that you're storing extra config inside of the distribution folder, and that seems wrong. You should have your site-owned cofig location.

[2017-11-30 10:32] simesy commented on #229
Agreed ^^

[2017-11-30 10:55] novia713 commented on #229
@e0ipso @simesy i wonder how am i storing any confing, given i never did nor
`drush cex` nor `drupal ce`. also didn't never export config from the proper site ... :-(

[2017-11-30 11:01] novia713 commented on #229
also nor including in composer config `"discard-changes": true` nor giving the following command
`COMPOSER_DISCARD_CHANGES=1  composer up --with-dependencies -o --prefer-dist` the system founds any solution. so, the problem reamins.

i don't want to forget to say thanks for the project in general and specially for this problem in particular :-)

[2017-11-30 11:09] #223 closed, assigned to cjgratacos

[2017-11-30 14:49] e0ipso commented on #228
Can you please try again after the new updates to the repository?

[2017-11-30 17:03] ralkeon commented on #228
Same error here! I tried 1 min ago. :grin:

[2017-12-01 10:43] e0ipso commented on #228
@PolywickStudio @ralkeon it seems that your composer is pulling an outdated version of simple_oauth.

Can you post the version of `drupal/simple_oauth` inside `composer.lock` here?

[2017-12-01 10:44] e0ipso commented on #228
Also, maybe try `composer clear-cache` before re-installing.

[2017-12-01 11:27] ralkeon commented on #228
I've tried again after I cleared composer cache, but still the same error.
Here's the chunk of the composer.lock with simple_oauth version:
https://bitbucket.org/snippets/ralkeon/LeeLa6

[2017-12-01 14:23] cjgratacos commented on #228
@ralkeon can you please share your `composer.lock` or a `composer show`,  and your OS versions and environment. Thanks in advance

[2017-12-01 14:43] ralkeon commented on #228
Sure!
I added composer.lock file here:
https://bitbucket.org/snippets/ralkeon/LeeLa6
my OS is Ubuntu 16.04
I have a machine with:
PHP 7.1
Apache 2.4.18
MySql 14.14 Distrib 5.5.41
Composer 1.5.5

Ask if need other info! Thank you so much!

[2017-12-02 02:36] simesy opened #232 "Separate JSON API from the Contenta profile"
I've been involved in multiple projects to create a new distribution for an organisation, these are new distributions because of the way they have to be security assessed and auditable. In a couple of recent cases these distributions require good RESTful support for headless.

The problem is, with all the headless Drupal examples available (Lightning, Headless Lightning, Reservoir, Contenta), ther

[2017-12-02 04:14] PolywickStudio commented on #228
I've moved on and using something else.
I'll close the ticket. For the other people, please create a new ticket.

[2017-12-02 07:02] e0ipso commented on #228
Something that's funny is that the screenshot shows `8.3.7` as the Drupal version. That should say `8.4.2` in the updated version. That tells me that there is something messing with your composer dependencies.

[2017-12-02 07:10] e0ipso commented on #228
@PolywickStudio what will you be using instead?

[2017-12-02 07:20] PolywickStudio commented on #228
https://github.com/api-platform/api-platform

[2017-12-02 07:21] PolywickStudio commented on #228
Don't ask me - ask the composer and the install instructions they provided.

[2017-12-02 09:20] simesy commented on #232
I've been looking for an example of this and finally found one. Many distributions have "media" feature which can't be re-used.

PreviousNext have created [pnx_media](https://www.drupal.org/project/pnx_media), which defines module dependencies and initial config, and can be easily included by any distribution. Sweet.

It would be awesome if Contenta split its JSON related modules out in the same w

[2017-12-02 14:32] Al-Rozhkov commented on #228
I have same error. `You have requested a non-existent service "simple_oauth.key.generator". in Drupal\Component\DependencyInjection\Container->get()`

In composer.lock I have `"drupal/simple_oauth": "^3.3",`

[2017-12-02 14:51] e0ipso commented on #228
@Al-Rozhkov is it also listing `8.3.7` as well for you?

[2017-12-02 14:52] e0ipso commented on #228
@Al-Rozhkov can you provide the data @cjgratacos requested in https://github.com/contentacms/contenta_jsonapi/issues/228#issuecomment-348507143?

[2017-12-02 15:07] Al-Rozhkov commented on #228
Nope. My Drupal version is 8.4.2
Here is my composer.lock: https://yadi.sk/d/3NN5I6HE3QFaEj

Windows 7
Apache 2.4.26
PHP 7.1.7
MySQL 5.5.5-10.1.25-MariaDB
Composer 1.5.2

[2017-12-02 15:30] e0ipso commented on #228
@Al-Rozhkov @ralkeon @PolywickStudio can you share the command you used to install Contenta?

[2017-12-02 15:38] Al-Rozhkov commented on #228
Sure. I followed instructions from http://www.contentacms.org/

`composer create-project contentacms/contenta-jsonapi-project MYPROJECT --stability dev --no-interaction`

[2017-12-02 15:55] e0ipso commented on #228
@Al-Rozhkov thanks. That looks good. Can you try to repeat the install and paste here the output of it?

Make sure to do `composer clear-cache` before re-trying.

[2017-12-02 16:56] Al-Rozhkov commented on #228
It works for me now.

Thank you @e0ipso! You doing great job! It is very interesting project.

[2017-12-02 17:53] e0ipso commented on #228
@Al-Rozhkov thanks for the kind words! I hope it's useful to you.

I suspect that Composer was tripping on some cached dependency...

I'll close the issue for now. If anyone gets this again, please request a reopen.

[2017-12-02 17:53] #228 closed, assigned to nobody

[2017-12-03 21:23] larowlan commented on #232
:+1:

[2017-12-03 22:00] kimpepper commented on #232
Ideally you should be able to install these meta-packages to add required modules and config, then immediately uninstall, so they can get out of the way, don't become a required dependency themselves, etc. This just leads to headaches, e.g supporting an upgrade path. I'd advocate for the 'starter kit' approach.

[2017-12-04 10:30] dawehner commented on #232
I'm working right now to mark contenta use pnx_media, that's something
which is totally worth not sharing.

I'm curious though how useful the other stuff might be. I guess the only
really reusable bit (which is not tied to the data model) is the
customization of the admin UI.

Kim Pepper <notifications@github.com> schrieb am So., 3. Dez. 2017 um
22:15 Uhr:

[2017-12-04 13:46] cjgratacos commented on #228
@e0ipso that is some awesome news. I tried to replicated in 4 different environment and for me it worked, everything was ok.

[2017-12-04 15:33] brookemahoney opened #233 "Feature request: Lando recipe"
Any thoughts on doing a Lando recipe?

[2017-12-04 15:37] e0ipso commented on #233
I think that would be a great idea! Probably related: https://github.com/contentacms/contenta_docker

[2017-12-04 22:23] simesy commented on #232
I just want to reiterate a few things to watch out for (perhaps so I don't lead anyone astray).

You really don't need all your general UI stuff (eg Material) in a separate metapackage - it belongs in your profile (to your product).

Don't maintain config with a metapackage - after the site is installed, the config belongs to the site. Anything tied to the data model, leave in the profile.

I'd li

[2017-12-05 23:45] dawehner commented on #232
One major problem I see with splitting things up: how do we still don't
provide an update path? By putting out a module out there, there seems to
be a level of communication associated.

On Mon, 4 Dec 2017, 22:23 Simon Hobbs, <notifications@github.com> wrote:

[2017-12-05 23:46] dawehner commented on #233
Sounds like a great task for someone to contribute!

On Mon, 4 Dec 2017, 15:37 Mateu Aguiló Bosch, <notifications@github.com>
wrote:

[2017-12-06 12:46] simesy commented on #232
I don't think it changes. Currently it is the responsibility for individual modules to handle their own config updates - that doesn't change. Distributions can also take a sort of paternal responsibility for all the children playing nice together - that doesn't change.

[2017-12-06 12:51] simesy commented on #232
I'm really interested in this idea that Lightning advertises itself as the "best of Drupal". Customers ask to have Lighting Workflow - but what is that? It's just the knowledge of a developer to choose correct modules, enable and configure them. Then the Drupal developer goes away. (I'm going to ignore patch management for the sake of argument.)

pnx_media does the same thing, then it leaves (lite

[2017-12-07 00:57] leonardosul opened #234 "Support jwt"
Do you think there is any value in supporting [jwt authentication](https://www.drupal.org/project/jwt) ?

I'm thinking it might be useful for a SPA where all registration and authentication happens via an API request.

I think OAuth may be overkill for a site that just needs the usual Drupal user account stuff, but wants to decouple the front end. Storing the client ID and secret key on the front

[2017-12-07 11:16] e0ipso commented on #234
Simple OAuth has support for JWT already, and it's installed with Contenta. OAuth in that setup is just the (secure) flow you use to obtain a valid JWT from the server. For your SPA you'll want the _Implicit_ grant.

[2017-12-07 11:16] #234 closed, assigned to nobody

[2017-12-07 11:29] e0ipso commented on #232
I think that at this point we're all already sold on the idea. Any chance we can get an initial patch?

[2017-12-07 16:55] ralkeon commented on #228
Hi all, sry for the delay.
I tryed again and I get the same error.
Then I've done another attempt, but this time I run the `composer create-project contentacms/contenta-jsonapi-project MYPROJECT --stability dev --no-interaction` command and after that I set chmod 777 and chown `myuser:www-data` on MYPROJECT folder. Finally I installed drupal, and it worked!!!

[2017-12-08 00:45] justinlevi opened #235 "Example of making a Recipe Post including image?"
Is there an example anywhere of making a POST request for the recipe content type and attaching an image to the entity reference field?

[2017-12-08 11:03] e0ipso commented on #235
Not an example per se, but the official JSON API documentation (https://www.drupal.org/docs/8/modules/json-api) will explain how to upload files.

[2017-12-08 12:50] justinlevi commented on #235
@e0ipso Thanks for the reminder about the documentation. I forgot D.O. actually had some good documentation for the JSON API.

One follow up question though, creating a POST request to create an image entity with a base64 image is easy enough, and creating a POST request to create a new node/resource is easy enough.

Are there any "gotchas" or "blockers" for creating a node w paragraph media image

[2017-12-08 14:42] e0ipso commented on #235
Search for the "Incredible decoupled performance using Subrequests" article in your Contenta knowledge hub.

[2017-12-10 19:07] justinlevi opened #237 "Creating New Consumers Fails"
Just playing around with the Contenta project and noticing that I can't create new consumers out of the box. Haven't dug in on this too much, but wanted to report the issue.

![screenflow](https://user-images.githubusercontent.com/1117989/33808384-65443e70-ddb3-11e7-803d-39d75c556b3c.gif)

[2017-12-10 19:09] e0ipso commented on #237
You need to create a new role and assign it to your consumer. That's what the error message is stating.

[2017-12-11 12:59] justinlevi commented on #237
@e0ipso Thanks for the speedy response!

I'm confused though as there are already the following roles and I'm unable to choose any of them on the "Add Consumer" screen. I'm likely missing something obvious...

![screen shot 2017-12-11 at 7 57 40 am](https://user-images.githubusercontent.com/1117989/33832226-50b3f5b8-de49-11e7-8576-71bfb5824cc4.jpg)

[2017-12-11 13:01] justinlevi commented on #237
In other words, I can't create a consumer at all because of that error it seems.

[2017-12-11 13:14] justinlevi commented on #237
:) Just as you said, I needed to create a new role first. Screen recording below. My vote would be to default to some reasonable initial roles that would be available on the create consumer screen. I think having reasonable defaults can reduce friction for beginners.

Cheers and thanks again for all your hard work on this project!

![roles](https://user-images.githubusercontent.com/1117989/3383275

[2017-12-11 14:08] e0ipso commented on #237
@justinlevi since the recommendation is to create a role per consumer, there is no way to create "sensible defaults".

What we could do is have some sort of UI to create a role with the name of the consumer when creating the consumer for the first time. Can you create an issue for that?

[2017-12-11 14:33] justinlevi commented on #237
@e0ipso Where does the recommendation to create a role per consumer come from? Just trying to understand the background on this decision a bit more. I could definitely see the use case of wanting to use an existing role for several different consumers, but I'm likely missing something.

I think defaulting to automatically creating a role for the new consumer would definitely help.

[2017-12-11 14:35] e0ipso commented on #237
The creators of _Consumers_, _Simple OAuth_ and _Contenta CMS_.

That is definitely a use case. Remember it's not enforced behaviors, just a recommendation.

[2017-12-11 14:41] justinlevi opened #238 "Reduce new consumer creation friction - automatic role creation based on consumer name"
Based on the conversation here: https://github.com/contentacms/contenta_jsonapi/issues/237

It might reduce some friction to automatically create a role based on the consumer name. The current UX does not make it very clear that the role is required prior to creating the new consumer. Perhaps updating the help text, or providing some default message if no roles are available, would help as well.

[2017-12-11 14:45] e0ipso commented on #238
Thanks for creating the issue @justinlevi.

This is the info we currently have. It may be that it's hard to find / understand. I agree that we should find a better UX.

![2017-12-11 15-44-18](https://user-images.githubusercontent.com/1140906/33836647-37bfd068-de8a-11e7-9eb1-9d2d51daf621.png)

[2017-12-11 15:53] justinlevi commented on #237
Totally makes sense. Cheers.

[2017-12-11 15:53] #237 closed, assigned to nobody

[2017-12-11 15:57] justinlevi commented on #238
Yeah, in retrospect I totally understand the help text and the role requirement. My first instinct is that the requirement of creating a role first needs to be indicated more clearly. It might just be me, but I found the help text and the error that is displayed when trying to create a consumer the first time, a bit confusing.

I am still not sure why the default existing roles are not listed here

[2017-12-12 05:00] simesy commented on #232
Ok if it's me who is a crap coder, then I have to work out how the heck to do it without wasting everyone's time, so I'm going to try and do this with Lightning Workflow on my current project.

[2017-12-12 05:01] simesy commented on #232
I'll eat my own idea dog food first.

[2017-12-12 05:07] simesy commented on #232
Aaaannd oddly enough, two weeks ago a wild `Lightning Workflow` appeared on Drupal.org, https://www.drupal.org/project/lightning_workflow - but they tell you not to use it stand-alone (which I'm basically going to try to do).

[2017-12-12 06:22] e0ipso commented on #232
hahaha

[2017-12-12 23:10] simesy commented on #232
https://www.drupal.org/project/lightning/issues/2925010

[2017-12-15 13:26] novia713 opened #239 "401 error on getting token"
i have this CORS config:
[code]

in a vue.js frontend app we try to login with
a `POST https://mydomain.es/oauth/token` call
and we get
[code]

any idea?

obviously, the backend API and the vue.js app are each one in different subdomains

[2017-12-15 21:57] tedbow opened #240 "Breadcrumbs on pages from the toolbar lead to the "Advanced" area"
In #60 the UI from Reservoir UI was brought in party to simplify the top level items.

![contenta_breadcrumbs](https://user-images.githubusercontent.com/132772/34062035-950841e8-e1b8-11e7-93f4-277aa923f943.png)

But here and in other pages from the toolbar the breadcrumbs lead to pages that aren't toolbar. So they expose links to areas the user didn't navigate from and to the "advanced" top level

[2017-12-17 11:40] e0ipso commented on #240
I think this is less of a thing in Contenta when compared with Reservoir. I'd like to keep the breadcrumbs, since they help with UX.

Do you think it's possible to have _intelligent_ breadcrumbs that reflect an _Advanced_ item in the pages that will land outside of the top level UI?

[2017-12-17 15:27] imfaber opened #241 "Support different themes"
Hi all,

I personally find material_admin a little too funky and I still prefer seven for the admin side.
For the API documentation and other things it is nice though.

I know I can simply enable seven, however I've noticed some libraries defined in contenta_enhancements are applied to any theme regardless.

Am I right thinking that those enhancements were meant for material_admin only and they sh

[2017-12-17 15:57] e0ipso commented on #241
I think @briancwald and @mortenson wanted to include an extra module with UX improvements in Contenta.

Nevertheless I think that they'll be interested in learning about what are the particular things that make you think _I personally find material_admin a little too funky_. Maybe we can improve those.

In any case, there is nothing that ties contenta to an admin theme. You're free to choose your

[2017-12-17 16:10] mortenson commented on #241
@e0ipso https://www.drupal.org/project/material_admin_support adds things like a floating action button to add content, and some entity browser enhancements, but I don't think it would make the theme feel _less_ funky if someone wants to use Seven. 😄

I think most of the work for this issue will be finding areas where Contenta assumes Material Admin is used as @imfaber mentions, and making sure st

[2017-12-17 18:01] imfaber commented on #241
@e0ipso As I said I actually like material admin, and BTW @mortenson congrats for the awesome work, but it's just that I prefer something simpler especially for form elements. I'm not even sure if "funky" is the right adjective here.

Maybe it's just a matter of habits and if I forced myself to use it I would eventually love it.
But as you @e0ipso said, nothing ties contenta to a theme therefore s

[2017-12-17 18:27] e0ipso commented on #241
I'd love to hear the areas where people are struggling. That's an awesome
contribution BTW. I hope it didn't come across as criticism :-P

Please ping me in that pr

On Dec 17, 2017 7:01 PM, "Fabrizio Meinero" <notifications@github.com>
wrote:

[2017-12-18 12:45] briancwald commented on #241
@imfaber, I cut an Alpha2 last week that has a number of bug fixes with views (specifically ajax conflicts). If the area you were struggling was views UI, then give that new version a go! aside from that, please report anything you find is weird and I will look into it!

[2017-12-20 11:27] joaogarin opened #243 "Clean install -> revert fails"
Hello,

I did a clean install of contenta, and after going through some some tutorials wanted to revert to have a clean slate of contenta and start modeling. Reverting resulted in an error :

[code]

I then noticed it did some reverting but I am left with the content type and when trying to delete the recipe content type get that error.

![screen shot 2017-12-20 at 11 26 33](https://user-images.gi

[2017-12-20 11:40] e0ipso commented on #243
Ah! That may be that we forgot to include the module dependencies in some of the config imports.

Thanks for raising the issue.

[2017-12-20 11:50] joaogarin commented on #243
Let me know if there is anything I can help with, would gladly try some things and provide a pull request. The error is just not really ringing anything particular to me..;/

[2018-01-08 15:46] angeenes opened #244 "get its own created content only thru Oauth2"
Hi,

Trying to use the Oauth2 authentification thru my requests but I do not understand how to set up a role that will only display its own contents created ( I'm using Nuxt with waterWheel for infos ).

If a "user A" post some articles, I want him to be able, once authenticated, to see only its own contents ( from "user A" ).

I'm I thinking it correctly ? This is done thru authent with Oauth2 ?

[2018-01-10 04:55] simesy opened #245 "Can I disable contentacms_enhancements?"
`contentacms_enhancements.module` contains a lot of cosmetic stuff it seems, and I think I'd like to disable it. Two years down the track I don't want someone to be struggling with a regression because Drupal was altered for cosmetic reasons. Like, it's pretty, but every change creates compound complexity.

I also don't find it very readable. If you look at [contenta_enhancements_toolbar_alter()](

[2018-01-10 05:14] simesy commented on #245
FYI I am testing it. When I turn off the enhancements, admin_toolbar started working!

[2018-01-10 16:32] hudri commented on #241
I think I'm also in the "little too funky" boat. No sorry, I'm in the "a lot too funky" boat :-( Don't get me wrong, it is really looks pretty to look at, but I need to get work done!

IMHO material design is a poor choice for data/developer centered working and it is a poor choice for desktop browsers. It wastes a ton of screen space, and yet despite all the white space doesn't provide a clear st

[2018-01-10 16:40] e0ipso commented on #241
I recommend this read: http://xjmdrupal.org/blog/someone-worked-hard-on-it

-----

You don't need to stay with Contenta's defaults. If you don't agree with the default admin theme you can change it pretty easily.

[2018-01-10 17:51] briancwald commented on #241
Thanks for the feedback @hudri - I think you make some fair points overall. Like @e0ipso there are no hard dependencies on the theme - feel free to use what you like.

I don't agree here (neither does UX experts in the field) which I spent research time on before determining a design language route. Material Design is used for many dashboards and SaaS products where you are doing administration cl

[2018-01-10 23:04] stevector commented on #21
@e0ipso, @dawehner, can this issue be closed? [Tutorial content is present at install](https://github.com/contentacms/contenta_jsonapi/blob/8.x-1.x/modules/recipes_magazin_contenta/default_content/tutorial.csv).

[2018-01-11 07:52] e0ipso commented on #244
Yes, that's the case. Please read the user guide in drupal.org, I think that will help.

[2018-01-11 07:52] #244 closed, assigned to nobody

[2018-01-11 08:41] e0ipso commented on #21
@stevector you are correct. The issue queue could use a good triage.

[2018-01-11 08:41] #21 closed, assigned to nobody

[2018-01-11 09:50] hudri commented on #241
Hi @briancwald ,
regarding low contrast: I'm referring to the combination of small font size, thin font weight and text color #9e9e9e (mostly &lt;label&gt;s), but also other text in #9e9e9e like on Structure > Content types > {Bundle} > Edit > the vertical tabs at the bottom

I guess we are using Contenta quite differently, we are using it very data focused, almost like a PIM/MDM, with 20-40 field

[2018-01-11 10:27] e0ipso commented on #241
@hudri there's no reason why you would not be able to just upload an Excel with Migrate.

[2018-01-11 22:42] kamalkech opened #246 "Protect API by Auth0 / JWT"
I am tired to find some examples to explain how we can protect the API by JWT or Auth0 or others, and i can't find any documentation about that (for contentacms).

there some helps here ?

[2018-01-12 10:49] e0ipso commented on #246
You can check the documentation: http://cms.contentacms.io/help/tutorials

Thanks!

[2018-01-12 10:49] #246 closed, assigned to nobody

[2018-01-12 11:30] kamalkech commented on #246
@e0ipso : i already check this list of tutorial but nothing, can you give me a exact link of article about what i need ??

thank you.

[2018-01-12 11:32] e0ipso commented on #246
The OAuth2 articles will serve you. The Simple OAuth module uses JWT. Search in the issue queue for the module and you'll find more examples.

[2018-01-19 14:40] briancwald commented on #241
@hudri Thanks for the feedback, I have made a number of changes based on your comments. including fixing the radio buttons in tables with hidden labels, contrast rating for labels, vertical rhythm updates (more to do there) to reduce vertical space.

[2018-01-19 15:45] arnoldbird opened #247 "Filter-related warnings in the Recent Log Messages"
I'm seeing this error in the Recent Log Messages after operating the filter UI or deleting the log:

Warning: DOMXPath::query(): Invalid expression in Drupal\filter\Plugin\Filter\FilterHtml->filterAttributes() (line 135 of /var/www/mysite/contenta/web/core/modules/filter/src/Plugin/Filter/FilterHtml.php) #0 /var/www/mysite/contenta/web/core/includes/bootstrap.inc(566): _drupal_error_handler_real(2

[2018-01-19 15:53] arnoldbird opened #248 "Material Admin theme breaks the db logging UI"
In the Material Admin theme, at admin/reports/dblog, I can't find the button for clearing the database log.

My early impression of Contenta is that it is fantastic, but I don't know why it has its own theme.  By shipping with a custom theme, debugging is harder, because any bugs one encounters might be caused by the theme, and so the first thing the developer has to do is switch to a more standar

[2018-01-19 15:59] e0ipso commented on #248
Thanks for taking the rime to report!

I disagree, I think that Material Admin brings much to the table. Besides, it seems that you can confirm that you are able to switch to another theme to your liking. At the end of the day one person likes a theme and another person likes another theme. Contenta CMS let's you choose your theme, you won't get that on many other decoupled CMS.

Yeah! @briancwald

[2018-01-19 16:03] e0ipso commented on #241
@briancwald did you tag an alpha release with those changes?

[2018-01-19 16:11] briancwald commented on #241
Yes I just did! ~ 1 hour ago. alpha5

[2018-01-19 16:37] arnoldbird commented on #248
e0ipso,

Thanks for the prompt reply!  Material Admin should live on, but why should Contenta ship with a custom theme?  Is there a reason these two projects are combined?  Drupal allows for separation of business logic and presentation -- why not take advantage by separating Contenta from Material Admin?

Contenta actually does not let me choose my theme, unless I'm willing to live with the PHP n

[2018-01-19 18:34] e0ipso commented on #248
Ah that's a bug that should be fixed. Would you be willing to provide a PR for that?

[2018-01-19 18:35] e0ipso commented on #248
We think that Material Admin is a big help for the UX. That's obviously subjective, but you still have the freedom to disagree *AND* change the theme.

[2018-01-19 18:55] dawehner commented on #248
@arnoldbird
We understand your frustration, software pretty much always sucks. I just had a couple of days fighting with webpack.

We as contenta want to provide a nice experience, documentation, some default content etc.
As part of that having a "decoupled" looking admin theme is part of it.
The other aspects, (the modules we install by default) is something you should learn out of contenta and t

[2018-01-19 18:59] dawehner opened #249 "Use the new OOTB default content instead of our custom scraped one"
The out of the box initiative produced some high quality content, let's use that.

[2018-01-19 19:11] arnoldbird commented on #248
@e0ipso
What is a PR?  I have seen this term but I am not sure at the moment what it means.  Patch request?

@dawehner
No frustration!  I'm thrilled to find these tools, and to see how mature it all is.  I can understand *why* you shipped with a theme, but I don't think your reasons are good, and I think it's a bad idea for multiple reasons:

1. If the theme provides functionality that can't be ha

[2018-01-19 19:22] arnoldbird commented on #248
On the other hand, if you feel like the custom theme helps you popularize/showcase Contenta, then maybe that's reason enough to include the theme.  From my perspective it does make me wonder if perhaps I should just install the underlying modules, and skip the distribution.  Though in any case, the distribution has made it very, very easy to see that decoupled Drupal can work well.  Contenta has t

[2018-01-19 23:45] arnoldbird commented on #248
@e0ipso
I remembered... PR = pull request.  Yes, I'll submit a PR.  Thx

[2018-01-20 00:39] arnoldbird opened #250 "Filter-related warnings when changing Text Format to Basic"
To reproduce:

1) Fresh install of Contenta.
2) Create a node.  Edit the node.  Change the Text Format for a textarea field from Basic HTML to something else.  Save the Node.
3) Edit the same node.  Change the Text Format back to Basic HTML.  Save the Node.  You will see....

Warning: DOMXPath::query(): Invalid expression in Drupal\filter\Plugin\Filter\FilterHtml->filterAttributes() (line 135 of /

[2018-01-20 01:50] arnoldbird commented on #250
I am going to close this for now because I can only reproduce this on one computer.  I have copied the same code and database to my laptop and can't reproduce it there.  I will re-open if I can reproduce it on another machine.  Both machines run Ubuntu 16.04 and are very similar, so I'm not sure why these DOMXPath warnings only show up in one machine.

[2018-01-20 01:50] #250 closed, assigned to nobody

[2018-01-20 01:51] arnoldbird commented on #247
Closing because I can only reproduce this bug on one machine.  See also https://github.com/contentacms/contenta_jsonapi/issues/250#issuecomment-359135436

[2018-01-20 01:51] #247 closed, assigned to nobody

[2018-01-20 02:01] arnoldbird commented on #248
Closing this one.  I simply did not see the Delete link in the header.  The theme isn't broken.

[2018-01-20 02:01] #248 closed, assigned to nobody

[2018-01-20 02:32] arnoldbird opened #251 "Distribution contains stray directories"
When installing via either of the methods described at...
https://github.com/contentacms/contenta_jsonapi
...there is a core directory inside of core.  And there is a "b" directory inside of core that shouldn't be there.  Not sure if there are other stray directories.  Those are the two I've noticed.

[2018-01-20 05:50] e0ipso commented on #248
The distribution provides both a collection of modules and some configuration. By starting that from scratch you'd be making an effort you are getting for free now. Even then it's technically possible.

[2018-01-20 05:51] e0ipso commented on #248
Thanks for reporting @arnoldbird! Not many take the time to help improve :-)

[2018-01-22 21:54] broeker commented on #210
For what is worth I am trying to install Contenta on Pantheon using their build tools. Everything seems to spin up nicely until the build tool calls this command:

`drush site-install contenta_jsonapi --yes --account-mail={account-mail} --account-name={account-name} --account-pass={account-pass} --site-mail={site-mail} --site-name={site-name}`

at which point it errors out with the same message ab

[2018-01-22 22:53] stevector commented on #210
Hi @broeker! I'm working on blending Contenta and Pantheon over in

- https://github.com/pantheon-systems/example-drops-8-composer/pull/128
- https://github.com/pantheon-systems/example-drops-8-composer/pull/93

You should be able to run `terminus build:project:create pantheon-systems/example-drops-8-composer:dev-contenta--take2` and get a working site + github repo + CircleCI config.

[2018-01-23 18:01] broeker commented on #210
@stevector awesome to find you here -- the above command ALMOST worked but not quite, I will post the details in pantheon-systems/example-drops-8-composer#128!

[2018-01-24 13:35] simesy commented on #245
Still dropping notes - my project is in a weird state where the profile is not installed, if I install it I get `You have requested a non-existent service "logger.channel.contentacms".`

[2018-01-24 15:21] TuWebO commented on #98
Hi @e0ipso,
do you mean having (in the profile configuration) **View user information** permission granted by default for anonymous users? If so, this will also needs to be applied to authenticathed users?

FYI
This permission name has changed the "title" to "View user information" (key remains the same), see commit at:
[http://cgit.drupalcode.org/drupal/commit/?id=b96e823](http://cgit.drupalcode.

[2018-01-27 07:36] e0ipso commented on #98
@TuWebO yes. It would be helpful to have it in both roles. This should go into the `recipes_magazin_contenta` module so it can be uninstalled when the default content is yanked.

[2018-01-27 07:37] e0ipso commented on #245
@simesy thanks for leading this investigation. Whenever you are ready for PR I will be eager to review it.

[2018-01-28 18:12] TuWebO commented on #98
Thanks @e0ipso,
I'll try to help out.

[2018-01-31 15:32] TuWebO commented on #98
Starting to work in this branch
https://github.com/TuWebO/contenta_jsonapi/tree/fb-recipes-magazin-contenta-install

[2018-02-03 08:27] kroawen opened #256 "Error loading node caused by contenta_enhancements_node_view_alter"
Error
The website encountered an unexpected error. Please try again later.
Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have requested a non-existent service "simple_oauth.key.generator". in Drupal\Component\DependencyInjection\Container->get() (line 151 of core\lib\Drupal\Component\DependencyInjection\Container.php).
Drupal\Component\DependencyInjection\Container-

[2018-02-03 08:27] kroawen commented on #256
PHP 7.14
APACHE 2.4

[2018-02-04 07:00] e0ipso commented on #256
Did you install using composer?

[2018-02-04 08:47] e0ipso commented on #98
Great!

[2018-02-07 08:53] kroawen commented on #256
Yes， composer,
I try reinstall, when created  a new node,  it get a new error code:

The website encountered an unexpected error. Please try again later.</br></br><em class="placeholder">Symfony\Component\Routing\Exception\ResourceNotFoundException</em>: No routes found for &quot;/node/85&quot;. in <em class="placeholder">Drupal\Core\Routing\Router-&gt;matchRequest()</em> (line <em class="placehol

[2018-02-10 06:51] e0ipso commented on #256
Is this a multisite install? Are you installing in a subdirectory? The installer seems to work under regular conditions.

[2018-02-10 06:53] e0ipso commented on #251
Sadly, I can't see any of those in my local install.

[2018-02-10 07:04] e0ipso commented on #245
Can you test if https://github.com/contentacms/contenta_jsonapi/compare/feat/245--allow-disable-contenta_enhancement?expand=1 works for this?

[2018-02-16 12:55] Memoyr opened #258 "can't install"
Hi,
I'm new with Drupal and I want to try Contenta as my goal is to build a decoupled Drupal 8 site.
I'm having issue with the installation.
When I look on under Installation here http://www.contentacms.org/
and did install composer initially (globally though - not sure if it's good)
I encounter a problem at step 3 , where it says , install Drupal normally.
On /core/install.php
I get a multiple er

[2018-02-16 14:01] Memoyr commented on #258
got it, I was using PHP 7.2.1 and should use 7.1

[2018-02-16 14:01] #258 closed, assigned to nobody

[2018-02-16 14:15] e0ipso commented on #258
Great! Thanks for posting back with your solution.

[2018-02-20 18:30] mdbadawi opened #259 "simple oauth error"
When i try to retrieve token  for the first time i get error
{
    "error": "server_error",
    "message": "The authorization server encountered an unexpected condition which prevented it from fulfilling the request: You need to set the OAuth2 secret and private keys."
}
and when i tried your demo site i got the same error
using `curl -X POST -d "grant_type=password&client_id=0eecd0b9-b149-418f-b5

[2018-02-20 18:57] mdbadawi commented on #259
it's  key's files permission issue
we fixed it in our project .Though you need to do so in your demo
http://cms.contentacms.io/admin/api/authentication

[2018-02-22 04:09] Memoyr opened #260 "problem drupal Synchronizing configuration"
Hi,
I need help , I've spent a lot of time trying to configure contentacms on a remote server.

During drupal synchronization , I get this error

Ubuntu 16.4
PHP Version 7.1.14-1+ubuntu16.04.1+deb.sury.org+1
Apache/2.4.18
mysql  Ver 14.14 Distrib 5.7.21, for Linux (x86_64) using  EditLine wrapper

setup on a digitalocean droplet

[code]

[2018-02-22 05:16] emergencyofstate opened #261 "Error on install w/ jsonapi_extras module"
I followed the _Installation for Building Your Own Site_ steps via the readme and am getting this fatal error when Drupal installs.

`TypeError: Argument 3 passed to                                                                         [error]
Drupal\jsonapi_extras\ResourceType\ConfigurableResourceTypeRepository::__construct() must implement
interface Drupal\Core\Entity\EntityRepositoryInterface

[2018-02-22 15:07] Memoyr commented on #261
same as mine
https://github.com/contentacms/contenta_jsonapi/issues/260

[2018-02-22 19:52] emergencyofstate commented on #261
I got passed this by installing the dev version of the jsonapi_extras module

https://www.drupal.org/project/jsonapi_extras/releases/8.x-1.x-dev

[2018-02-22 21:28] Memoyr commented on #261
sorry for my ignorance, if you have time can you tell me what was the steps to install it ?
it is only like it's mention on the page ?
`Install with Composer: $ composer require 'drupal/jsonapi_extras:1.x-dev'`
and then I can do
`composer create-project contentacms/contenta-jsonapi-project <DESTINATION> --stability dev --no-interaction
`
thanks

[2018-02-22 23:26] emergencyofstate commented on #261
Hey. No problem! There may be a better/easier way but here's what I did:

1. Install project via composer
`composer create-project contentacms/contenta-jsonapi-project <DESTINATION> --stability dev --no-interaction && cd <DESTINATION>/web `

2. Before you move on to installing Drupal/Contenta install, update to the [8.x-1.x-dev](https://www.drupal.org/project/jsonapi_extras/releases/8.x-1.x-dev) v

[2018-02-22 23:43] e0ipso commented on #261
I *just* tagged a release of JSON API Extras. This should be fixed. Please report if it's not.

[2018-02-22 23:43] #261 closed, assigned to nobody

[2018-02-22 23:44] e0ipso commented on #261
Thanks for your contributions to the issue queue!!

[2018-02-23 01:38] Memoyr commented on #260
thanks so much!
it's fixed by https://github.com/contentacms/contenta_jsonapi/issues/261

[2018-02-23 01:38] #260 closed, assigned to nobody

[2018-02-23 18:21] murathalici opened #262 "Call to undefined method getResourceTypes"
I am getting the following error after updating to the latest version of [JSON API](https://www.drupal.org/project/jsonapi_extras) and [JSON API Extras](https://www.drupal.org/project/jsonapi_extras)

`The website encountered an unexpected error. Please try again later.
Error: Call to undefined method Drupal\jsonapi\ResourceType\ResourceTypeRepository::getResourceTypes() in Drupal\contenta_enhance

[2018-02-24 07:46] e0ipso commented on #262
Thanks for the report!

[2018-02-26 11:43] ftaiolivista commented on #262
Clean install by composer

I think is related
[code]

[2018-02-27 10:05] szeidler commented on #251
I see the same folder in my installation. It is caused by the patch that comes with contenta https://www.drupal.org/files/issues/drupal-n2788777-105.patch. When I'm using this patch on a non-contenta project, I experience the same issue.

It also happens with the recent patch at .https://www.drupal.org/project/drupal/issues/2788777#comment-12464886 . I will report there.

[2018-03-01 15:20] cmoeser commented on #256
Same here. Installing using Composer. No issues till the Drupal install screen. Then...

The website encountered an unexpected error. Please try again later.
Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have requested a non-existent service "simple_oauth.key.generator". in Drupal\Component\DependencyInjection\Container->get() (line 151 of core\lib\Drupal\Component\

[2018-03-03 14:57] e0ipso commented on #259
Thanks for looping back to here.

[2018-03-03 14:57] #259 closed, assigned to nobody

[2018-03-03 16:15] e0ipso commented on #262
Thanks for the report. This is blocked on https://www.drupal.org/project/jsonapi/issues/2949632.

[2018-03-04 07:23] e0ipso commented on #256
After some fixes in the underlying modules this is now resolved.

Please do: `composer update --with-dependencies drupal/jsonapi_extras drupal/jsonapi`.

[2018-03-04 07:23] #256 closed, assigned to nobody

[2018-03-04 07:25] e0ipso commented on #262
This was resolved in the issue linked above.

Please update with: `composer update --with-dependencies drupal/jsonapi_extras drupal/jsonapi` to resolve this.

Thanks!

[2018-03-04 07:25] #262 closed, assigned to nobody

[2018-03-04 07:29] #245 closed, assigned to nobody

[2018-03-04 08:06] e0ipso commented on #243
I re-tried this after several fixes were merged and I think this should be OK now. Can you please re-test?

Please request reopening this issue if this is not fixed for you.

Update Contenta with: `composer update --with-dependencies`

[2018-03-04 08:06] #243 closed, assigned to nobody

[2018-03-07 16:52] novia713 commented on #262
i did the suggested `composer update` but the problem remains for me
i get the following error
[code]

mine is an old project, these are my required projects:
[code]

[2018-03-08 09:46] #239 closed, assigned to nobody

[2018-03-08 16:24] alexseik commented on #251
I reproduce this kind of error when installing `composer install`:
[code]
and the composer.json generated is:
[code]

[2018-03-10 03:34] thegurf commented on #262
I tried the suggested update fix as well and am getting the same error described above.

[2018-03-11 18:46] popstas commented on #262
Tried `composer update` and `composer update --with-dependencies drupal/jsonapi_extras drupal/jsonapi`, still error present.

drupal/jsonapi                    1.12.0
drupal/jsonapi_extras             1.0.0-rc7

[2018-03-11 20:22] arnoldbird opened #266 "Upgrade to Drupal 8.5 -- stack-cors patch won't apply"
I'm trying to upgrade to Drupal 8.5, and having problems that I think are related to the asm89/stack-cors patch.

Related issue: https://github.com/contentacms/contenta_jsonapi/issues/199

The patch won't apply anymore.  Do we need a new patch for stack-cors every time we upgrade Drupal core?

Here is my composer.json:

[code]

Thank you!

[2018-03-12 02:26] shrop opened #267 "Fatal errors installing quick install"
When using quick install:

[code]

I get the following errors when Drupal installs:

[code]

I am running PHP 7.1.14 on MacOS.

[2018-03-12 02:31] shrop commented on #267
I also noticed that Drupal core 8.3.7 is what is being installed.

[2018-03-12 02:43] shrop commented on #267
I am closing this one. I noticed I had some composer issues with `composer create-project contentacms/contenta-jsonapi-project contentacms --stability dev --no-interaction` so I ran `composer clearcache` and all is well!

[2018-03-12 02:43] #267 closed, assigned to nobody